<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mola Exchange - About Us</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>

  <body>
    <header>
      <div class="header_left">
        <a href="../index.html"><img src="../public/icons/Currency exchange.svg" alt=""></a>
        <a href="../index.html">
          <h3><b>Mola</b></h3>
        </a>
      </div>
    
      <div class="header-middle js_header_middle">
    
        <div class="profile_header_container">
    
          <h5>Profile</h5>
          <img src="../public/icons/Keyboard arrow down.png" alt="arrow down icon">
    
          <div class="profile_tooltip">
    
            <div class="profile_tooltip_header">
              <h5 style="padding-left: 20px;">Biolafrica</h5>
              <div class="profile_verification_details">
                <img src="../public/icons/Verified user.svg" alt="">
                <h5 class="light">Intermediate Level Verified</h5>
              </div>
            </div>
    
            <div class="profile_tooltip_body">
    
              <a class="profile_tooltip_body_nav" href="/views/dashboard.html">
                <img src="../public/icons/Dashboard.svg" alt="">
                <h4>Dashboard</h4>
              </a>
    
              <a class="profile_tooltip_body_nav" href="/views/verify.html">
                <img src="../public/icons/Manage accounts.svg" alt="">
                <h4>Account</h4>
              </a>
    
              <a class="profile_tooltip_body_nav" href="/views/settings.html">
                <img src="../public/icons/Settings.svg" alt="">
                <h4>Settings</h4>
              </a>
    
            </div>
    
            <div class="profile_tooltip_footer">
              <a class="profile_tooltip_footer_nav" href="/views/login.html">
                <img class="secondary" src="../public/icons/Logout.svg" alt="">
                <h4>Logout</h4>
              </a>
    
            </div>
          </div>
    
        </div>
    
        <div class="ads_container">
          <h5>Ads</h5>
          <img src="../public/icons/Keyboard arrow down.png" alt="arrow down icon">
    
          <div class="more_tooltip">
    
            <a class="more_tooltip_nav" href="/views/postadd.html">
              <img src="../public/icons/add ads.png" alt="">
              <h4>Post Ads</h4>
            </a>
    
            <a class="more_tooltip_nav" href="/views/ads.html">
              <img src="../public/icons/ads List.png" alt="">
              <h4>My Ads</h4>
            </a>
    
          </div>
    
        </div>
    
      </div>
    
      <div class="header-right js_header_right">
    
        <a class="order_header_container" href="/views/history.html">
          <div class="notification">1</div>
          <img src="../public/icons/Article.png" alt="order icon">
          <h5 class="order_name">Order</h5>
        </a>
    
        <div class="hamburger js_hamburger">
          <img src="../public/icons/Menu.png" alt="menu icon">
        </div>
    
        <div class="close js_close">
          <img src="../public/icons/Close.png" alt="close icon">
        </div>
    
      </div>
    
    </header>
    
    <!---hamburger small screen menu-->
    <div class="sub_menu js_sub_menu">
    
      <div class="profile_sub-menu">
        <h6 class="profile_sub-menu_heading"><b>Profile</b></h6>
    
        <div class="profile_sub-menu_first">
    
          <a class="profile_sub-menu_wallet" href="/views/dashboard.html">
            <img src="../public/icons/Wallet.png" alt="wallet icon">
            <h5><b>Wallet</b></h5>
          </a>
    
          <a class="profile_sub-menu_account" href="/views/verify.html">
            <img src="../public/icons/Manage accounts.svg" alt="account icon">
            <h5><b>Account</b></h5>
          </a>
        </div>
    
        <div class="profile_sub-menu_second">
          <a class="profile_sub-menu_profile" href="/views/settings.html">
            <img src="../public/icons/Settings.svg" alt="settings icon">
            <h5><b>Settings</b></h5>
          </a>
        </div>
    
      </div>
    
      <div class="ads_sub-menu">
        <h6 class="ads_sub-menu_heading"><b>Ads</b></h6>
    
        <div class="ads_sub-menu_first">
    
          <a class="ads_sub-menu_new_ads" href="/views/postadd.html">
            <img src="../public/icons/add ads.png" alt="post ads icon">
            <h5><b>Post Ads</b></h5>
          </a>
    
          <a class="ads_sub-menu_my_ads" href="/views/ads.html">
            <img src="../public/icons/ads List.png" alt="ads list icon">
            <h5><b>My Ads</b></h5>
          </a>
    
        </div>
    
      </div>
    
      <button class="outlined-btn sub_menu_button">
        <h4>Logout</h4>
      </button>
    
    
    </div>

    <div class="intro">
      <h2><b>Secure Peer-to-Peer Currency Exchange Platform for Africans</b></h2>
      <h5>Empowering African Immigrants with Fair, Transparent, and Hassle-Free Currency Exchange</h5>
    </div>

    <div class="who_are_we">

      <div class="who_are_we_content">
        <h5 class="who_are_we_content_head"><b>WHO WE ARE</b></h5>
        <h2><b>Your Trusted Partner in Secure, Fair, and Empowering Currency Exchange</b></h2>
        <h4>At Mola, we are a peer-to-peer currency exchange platform dedicated to providing African immigrants and communities with
        secure, transparent, and affordable ways to exchange currency. Built on trust and security, we empower our users by
        offering fair exchange rates without hidden fees, making global currency transactions easier and more accessible. Our
        mission is to foster a platform where transparency, user safety, and community empowerment come first.</h4>
      </div>

      <div class="who_are_we_image">
        <img src="../public/images/about.png" alt="">

      </div>

    </div>

    <div class="values">

      <h5 class="who_are_we_content_head"><b>OUR VALUES</b></h5>
      <h3><b>Built on Trust, Security, and Empowering Communities through Fair Currency Exchange</b></h3>

      <div class="values_top">

        <div class="value_left">
          <h6 class="color_value">EMPATHY</h6>
          <h6 class="pri_value">Customers at the Heart of Our Decisions</h6>
          <h6 class="sec_value">Our customers come first. We empathize with their needs and challenges, whether we are developing new products or
            addressing their concerns, ensuring that their experiences are both positive and meaningful.</h6>
        </div>
        

        <div class="value_right">
          <h6 class="color_value">HIGH STANDARDS</h6>
          <h6 class="pri_value">Excellence in Everything We Do</h6>
          <h6 class="sec_value">Quality is non-negotiable at Mola. From recruiting top talent to delivering exceptional services, we maintain high
          standards in every aspect of the company, ensuring that we consistently meet and exceed expectations.</h6>
        </div>

      </div>

      <div class="values_middle">
       
        <div class="value_left">
          <h6 class="color_value">TRANSPARENCY</h6>
          <h6 class="pri_value">Openness at Every Level</h6>
          <h6 class="sec_value">Mola is built on a foundation of transparency, both internally and externally. We foster an environment where
            honesty
            and clarity are prioritized, ensuring that both staff and customers experience complete openness—with no hidden fees
            or
            surprises in our services.</h6>
        </div>

        <div class="value_right">
          <h6 class="color_value">CREATIVITY</h6>
          <h6 class="pri_value">Innovation and Ingenuity in Every Department</h6>
          <h6 class="sec_value">Mola encourages creativity across all teams. Every staff member is challenged to think outside the box and bring
            innovative solutions to the table, fostering a culture of continuous improvement.</h6>
        </div>

      </div>

      <div class="values_bottom">

        <div class="value_left">
          <h6 class="color_value">COMMUNICATION</h6>
          <h6 class="pri_value">Clear, Open, and Supportive</h6>
          <h6 class="sec_value">We believe in fostering an environment where communication flows freely. At Mola, staff can seek help easily, and
            support is always available, creating a culture of teamwork and collaboration.</h6>
        </div>

        <div class="value_right">
          <h6 class="color_value">DIVERSITY</h6>
          <h6 class="pri_value">Inclusion Without Boundaries</h6>
          <h6 class="sec_value">Mola is a company where everyone is welcome, regardless of background or differences. We celebrate diversity and ensure
          that our workforce is inclusive, allowing for a range of perspectives and ideas.</h6>
        </div>

      </div>
    </div>


    <section class="footers">
    
      <div class="top_footer">
        <h2><b>Join Mola</b></h2>
        <h4>Join a Dynamic Team Committed to Innovation, Diversity, and Empowering Communities</h4>
        <a href="#">
          <button class="filled-btn">
            <h5>View open positions</h5>
          </button>
        </a>
    
      </div>
    
      <div class="middle_footer">
    
        <div class="middle_footer_logo">
    
          <a href="../index.html"><img style="width: 136.88px; height: 27.31px;"
              src="../public/images/White Logo no Background (1) 5.png" alt="mola logo">
          </a>
          <h6>A peer-to-peer currency exchange platform design to offer African immigrants secure, low-cost currency
            exchanges with competitive rates and no hidden fees</h6>
    
        </div>
    
        <div class="middle-footer_content">
    
          <div class="middle-footer_content_left">
            <h6 class="foot_head">Company</h6>
    
            <h6 class="foot_body"><a href="#">About Us</a></h6>
            <h6 class="foot_body"><a href="#">Careers</a></h6>
            <h6 class="foot_body"><a href="#">Blog</a></h6>
          </div>
    
          <div class="middle-footer_content_middle">
            <h6 class="foot_head">Legal</h6>
    
            <h6 class="foot_body"><a href="#">Term of Service</a></h6>
            <h6 class="foot_body"><a href="#">Privacy Policy</a></h6>
            <h6 class="foot_body"><a href="#">Cookie Policy</a></h6>
    
          </div>
    
          <div class="middle-footer_content_right">
            <h6 class="foot_head">Contact</h6>
    
            <h6 class="foot_body"><a href="#">Support</a></h6>
            <div class="footer_right">
              <div class="socials_icon">
                <a href=""><img src="./public/icons/TwitterX.png" alt=""></a>
                <a href=""><img src="./public/icons/Instagram.png" alt=""></a>
                <a href=""><img src="./public/icons/LinkedIn.png" alt=""></a>
              </div>
            </div>
    
          </div>
    
        </div>
    
      </div>
    
      <div class="bottom_footer">
        <h6>Copyright &copy; 2024 Mola Exchange Limited</h6>
    
      </div>
    
    </section>


    <script type="module" src="../public/script/about.js"></script>

  </body>
</html>