<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>

    <header>

      <div class="header_left">
        <img src="../public/icons/Currency exchange.svg" alt="">
        <h3><b>Mola</b></h3>
      </div>
  
      <div class="header_right">
  
        <div class="order_container">
          <img src="../public/icons/Receipt long.svg" alt="">
          <h5>My Orders</h5>
        </div>
  
        <div class="profile_container">
          <img src="../public/icons/Account circle.svg" alt="">
          <h5>My profile</h5>
  
          <div class="profile_tooltip">
  
            <div class="profile_tooltip_header">
              <h5>Biolafrica</h5>
              <div class="profile_verification_details">
                <img src="../public/icons/Verified user.svg" alt="">
                <h4>Intermediate Level Verified</h4>
              </div>
            </div>
            
            <div class="profile_tooltip_body">
              <div class="profile_tooltip_body_nav">
                <img src="../public/icons/Dashboard.svg" alt="">
                <h4>Dashboard</h4>
              </div>
      
              <div class="profile_tooltip_body_nav">
                <img src="../public/icons/Manage accounts.svg" alt="">
                <h4>Account</h4>
              </div>
              
              <div class="profile_tooltip_body_nav">
                <img src="../public/icons/Settings.svg" alt="">
                <h4>Settings</h4>
              </div>
      
            </div>
      
            <div class="profile_tooltip_footer">
              <div class="profile_tooltip_footer_nav">
                <img src="../public/icons/Logout.svg" alt="">
                <h4>Logout</h4>
              </div>
      
            </div>
          </div>
        </div>
  
        <div class="more_container">
          <img src="../public/icons/Pending.svg" alt="">
          <h5>More</h5>
          <img src="../public/icons/Arrow drop down.svg" alt="">
  
          <div class="more_tooltip">
            <div class="more_tooltip_nav">
              <img src="../public/icons/Playlist add.svg" alt="">
              <h4>Post New Ads</h4>
            </div>
            <div class="more_tooltip_nav">
              <img src="../public/icons/Format list bulleted.svg" alt="">
              <h4>My Ads</h4>
            </div>
      
          </div>
        </div>
  
      
  
      </div>
    </header>

    <div class="my_ads_container">
      <h2 class="my_ads_head">My Ads</h2>

      <div class="my_ads_filter_container">

        <div class="ads_currency_filter">

          <select name="" id="order-type">
            <option value="all">All</option>
            <option value="sell">NGN</option>
            <option value="buy">GBP</option>
          </select>

        </div>

        <div class="ads_status_filter">

          <select name="" id="order-type">
            <option value="all">All</option>
            <option value="sell">Active</option>
            <option value="buy">Offline</option>
            <option value="buy">Completed</option>
          </select>

        </div>

      </div>

      <div class="my_ads_table_container">

        <div class="ads_table_head">

          <div class="ads_column head">
            <h4>Ad ID</h4>
            <h4>Type</h4>
          </div>
  
          <div class="amount_column head">
            <h4>Available Amount</h4>
            <h4>Sold Amount</h4>
          </div>
    
          <div class="rate_column head">
            <h4>Rate</h4>
            <h4>Limit</h4>
          </div>
    
          <div class="time_column head">
            <h4>Time Created</h4>
            <h4>Time Edited</h4>
          </div>
    
          <div class="status_ads_column head">
            <h4>Status</h4>
          </div>
    
          <div class="action_column head">
            <h4>Action</h4>
          </div>
  
        </div>

        <div class="history_table_body_container">

          <div class="ads_table_body">
  
            <div class="ads_column">
  
              <div class="Title">
                <h4><b>Buy(NGN)</b></h4> 
                <h4>mola12345</h4> 
              </div>
  
            </div>
    
            <div class="amount_column">
  
              <div class="Title">
                <h4 class="title_s_name">Amount Available</h4> 
                <h4>N15,000.00</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Sold Amount</h4> 
                <h4>N0.00</h4> 
              </div>
  
            </div>
      
            <div class="rate_column">

              <div class="Title">
                <h4 class="title_s_name">Rate</h4> 
                <h4>N1,900.00</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Limit</h4> 
                <h4>£100.00 - £500.00</h4> 
              </div>

            </div>
      
            <div class="time_column">
              <div class="Title">
                <h4 class="title_s_name">Time Created</h4> 
                <h4>2024-05-21 | 04:41</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Time Edited</h4> 
                <h4>2024-05-21 | 04:41</h4> 
              </div>
            </div>
      
            <div class="status_ads_column">
              <div class="Title"> 
                <h4 class="title_name">Status</h4> 
                <h4>Active</h4> 
              </div>
            </div>
    
            <div class="action_column">
              <div class="Title"> 
                <h4 class="title_name">Action</h4>  
                <div>
                  <img src="../public/icons/Remove red eye.svg" alt="">
                  <img src="../public/icons/Mode edit.svg" alt="">
                  <img src="../public/icons/Close small.svg" alt="">
                </div>
              </div>
            </div>
    
          </div>

          <div class="ads_table_body">
  
            <div class="ads_column">
  
              <div class="Title">
                <h4><b>Buy(NGN)</b></h4> 
                <h4>mola12345</h4> 
              </div>
  
            </div>
    
            <div class="amount_column">
  
              <div class="Title">
                <h4 class="title_s_name">Amount Available</h4> 
                <h4>N15,000.00</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Sold Amount</h4> 
                <h4>N0.00</h4> 
              </div>
  
            </div>
      
            <div class="rate_column">

              <div class="Title">
                <h4 class="title_s_name">Rate</h4> 
                <h4>N1,900.00</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Limit</h4> 
                <h4>£100.00 - £500.00</h4> 
              </div>

            </div>
      
            <div class="time_column">
              <div class="Title">
                <h4 class="title_s_name">Time Created</h4> 
                <h4>2024-05-21 | 04:41</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Time Edited</h4> 
                <h4>2024-05-21 | 04:41</h4> 
              </div>
            </div>
      
            <div class="status_ads_column">
              <div class="Title"> 
                <h4 class="title_name">Status</h4> 
                <h4>Active</h4> 
              </div>
            </div>
    
            <div class="action_column">
              <div class="Title"> 
                <h4 class="title_name">Action</h4>  
                <div>
                  <img src="../public/icons/Remove red eye.svg" alt="">
                  <img src="../public/icons/Mode edit.svg" alt="">
                  <img src="../public/icons/Close small.svg" alt="">
                </div>
              </div>
            </div>
    
          </div>

          <div class="ads_table_body">
  
            <div class="ads_column">
  
              <div class="Title">
                <h4><b>Buy(NGN)</b></h4> 
                <h4>mola12345</h4> 
              </div>
  
            </div>
    
            <div class="amount_column">
  
              <div class="Title">
                <h4 class="title_s_name">Amount Available</h4> 
                <h4>N15,000.00</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Sold Amount</h4> 
                <h4>N0.00</h4> 
              </div>
  
            </div>
      
            <div class="rate_column">

              <div class="Title">
                <h4 class="title_s_name">Rate</h4> 
                <h4>N1,900.00</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Limit</h4> 
                <h4>£100.00 - £500.00</h4> 
              </div>

            </div>
      
            <div class="time_column">
              <div class="Title">
                <h4 class="title_s_name">Time Created</h4> 
                <h4>2024-05-21 | 04:41</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Time Edited</h4> 
                <h4>2024-05-21 | 04:41</h4> 
              </div>
            </div>
      
            <div class="status_ads_column">
              <div class="Title"> 
                <h4 class="title_name">Status</h4> 
                <h4>Active</h4> 
              </div>
            </div>
    
            <div class="action_column">
              <div class="Title"> 
                <h4 class="title_name">Action</h4>  
                <div>
                  <img src="../public/icons/Remove red eye.svg" alt="">
                  <img src="../public/icons/Mode edit.svg" alt="">
                  <img src="../public/icons/Close small.svg" alt="">
                </div>
              </div>
            </div>
    
          </div>

          <div class="ads_table_body">
  
            <div class="ads_column">
  
              <div class="Title">
                <h4><b>Buy(NGN)</b></h4> 
                <h4>mola12345</h4> 
              </div>
  
            </div>
    
            <div class="amount_column">
  
              <div class="Title">
                <h4 class="title_s_name">Amount Available</h4> 
                <h4>N15,000.00</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Sold Amount</h4> 
                <h4>N0.00</h4> 
              </div>
  
            </div>
      
            <div class="rate_column">

              <div class="Title">
                <h4 class="title_s_name">Rate</h4> 
                <h4>N1,900.00</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Limit</h4> 
                <h4>£100.00 - £500.00</h4> 
              </div>

            </div>
      
            <div class="time_column">
              <div class="Title">
                <h4 class="title_s_name">Time Created</h4> 
                <h4>2024-05-21 | 04:41</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Time Edited</h4> 
                <h4>2024-05-21 | 04:41</h4> 
              </div>
            </div>
      
            <div class="status_ads_column">
              <div class="Title"> 
                <h4 class="title_name">Status</h4> 
                <h4>Active</h4> 
              </div>
            </div>
    
            <div class="action_column">
              <div class="Title"> 
                <h4 class="title_name">Action</h4>  
                <div>
                  <img src="../public/icons/Remove red eye.svg" alt="">
                  <img src="../public/icons/Mode edit.svg" alt="">
                  <img src="../public/icons/Close small.svg" alt="">
                </div>
              </div>
            </div>
    
          </div>

          <div class="ads_table_body">
  
            <div class="ads_column">
  
              <div class="Title">
                <h4><b>Buy(NGN)</b></h4> 
                <h4>mola12345</h4> 
              </div>
  
            </div>
    
            <div class="amount_column">
  
              <div class="Title">
                <h4 class="title_s_name">Amount Available</h4> 
                <h4>N15,000.00</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Sold Amount</h4> 
                <h4>N0.00</h4> 
              </div>
  
            </div>
      
            <div class="rate_column">

              <div class="Title">
                <h4 class="title_s_name">Rate</h4> 
                <h4>N1,900.00</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Limit</h4> 
                <h4>£100.00 - £500.00</h4> 
              </div>

            </div>
      
            <div class="time_column">
              <div class="Title">
                <h4 class="title_s_name">Time Created</h4> 
                <h4>2024-05-21 | 04:41</h4> 
              </div>
  
              <div class="Title"> 
                <h4 class="title_name">Time Edited</h4> 
                <h4>2024-05-21 | 04:41</h4> 
              </div>
            </div>
      
            <div class="status_ads_column">
              <div class="Title"> 
                <h4 class="title_name">Status</h4> 
                <h4>Active</h4> 
              </div>
            </div>
    
            <div class="action_column">
              <div class="Title"> 
                <h4 class="title_name">Action</h4>  
                <div>
                  <img src="../public/icons/Remove red eye.svg" alt="">
                  <img src="../public/icons/Mode edit.svg" alt="">
                  <img src="../public/icons/Close small.svg" alt="">
                </div>
              </div>
            </div>
    
          </div>
  
        </div>
      </div>

      

    </div>

    <div class="pagination">
      <img src="../public/icons/Keyboard arrow left.svg" alt="">
  
      <div class="pagination_number">
        <div class="page filled_page"><h4>1</h4></div>
        <div class="page"><h4>2</h4></div>
        <div class="page"><h4>3</h4></div>
      </div>
  
      <img src="../public/icons/Keyboard arrow right.svg" alt="">
  
    </div>
    
  </body>
</html>