<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mola Exchange - More on Seller Ads</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>

  <body>
   
    <header>
      <div class="header_left">
        <a href="../index.html"><img src="../public/images/White Logo no Background (1) 2.png" alt="mola logo"
          class="mola_logo_header">
        </a>
      </div>

      <div class="header-middle js_header_middle">
        
        <div class="profile_header_container">

          <h5>Profile</h5>
          <img src="../public/icons/Keyboard arrow down.png" alt="arrow down icon">

          <div class="profile_tooltip">

            <div class="profile_tooltip_header"> 
              <h5 style="padding-left: 20px;">Biolafrica</h5>
              <div class="profile_verification_details">
                <img src="../public/icons/Verified user.svg" alt="">
                <h5 class="light">Intermediate Level Verified</h5>
              </div>
            </div>
            
            <div class="profile_tooltip_body">

              <a class="profile_tooltip_body_nav" href="/views/dashboard.html">
                <img src="../public/icons/Dashboard.svg" alt="">
                <h4>Dashboard</h4>
              </a>
      
              <a class="profile_tooltip_body_nav" href="/views/verify.html">
                <img src="../public/icons/Manage accounts.svg" alt="">
                <h4>Account</h4>
              </a>
              
              <a class="profile_tooltip_body_nav" href="/views/settings.html">
                <img src="../public/icons/Settings.svg" alt="">
                <h4>Settings</h4>
              </a>
      
            </div>
      
            <div class="profile_tooltip_footer" >
              <a class="profile_tooltip_footer_nav" href="/views/login.html">
                <img class="secondary" src="../public/icons/Logout.svg" alt="">
                <h4>Logout</h4>
              </a>
      
            </div>
          </div>

        </div>

        <div class="ads_container">
          <h5>Ads</h5>
          <img src="../public/icons/Keyboard arrow down.png" alt="arrow down icon">

          <div class="more_tooltip">

            <a class="more_tooltip_nav" href="/views/postadd.html">
              <img src="../public/icons/add ads.png" alt="">
              <h4>Post Ads</h4>
            </a>

            <a class="more_tooltip_nav" href="/views/ads.html">
              <img src="../public/icons/ads List.png" alt="">
              <h4>My Ads</h4>
            </a>
      
          </div>

        </div>

      </div>

      <div class="header-right js_header_right">

        <a class="order_header_container" href="/views/history.html" >
          <div class="notification">1</div>
          <img src="../public/icons/Article.png" alt="order icon">
          <h5 class="order_name">Order</h5>
        </a>

        <div class="hamburger js_hamburger">
          <img src="../public/icons/Menu.png" alt="menu icon">
        </div>

        <div class="close js_close">
          <img src="../public/icons/Close.png" alt="close icon">
        </div>
       
      </div>

    </header>

    <!---hamburger small screen menu-->
    <div class="sub_menu js_sub_menu">

      <div class="profile_sub-menu">
        <h6 class="profile_sub-menu_heading"><b>Profile</b></h6>

        <div class="profile_sub-menu_first">

          <a class="profile_sub-menu_wallet" href="/views/dashboard.html">
            <img  src="../public/icons/Wallet.png" alt="wallet icon">
            <h5><b>Wallet</b></h5>
          </a>

          <a class="profile_sub-menu_account" href="/views/verify.html">
            <img src="../public/icons/Manage accounts.svg" alt="account icon">
            <h5><b>Account</b></h5>
          </a>
        </div>

        <div class="profile_sub-menu_second">
          <a class="profile_sub-menu_profile" href="/views/settings.html">
            <img src="../public/icons/Settings.svg" alt="settings icon">
            <h5><b>Settings</b></h5>
          </a>
        </div>

      </div>

      <div class="ads_sub-menu">
        <h6 class="ads_sub-menu_heading"><b>Ads</b></h6>

        <div class="ads_sub-menu_first">

          <a class="ads_sub-menu_new_ads" href="/views/postadd.html">
            <img src="../public/icons/add ads.png" alt="post ads icon">
            <h5><b>Post Ads</b></h5>
          </a>

          <a class="ads_sub-menu_my_ads" href="/views/ads.html">
            <img src="../public/icons/ads List.png" alt="ads list icon">
            <h5><b>My Ads</b></h5>
          </a>

        </div>

      </div>

      <button class="outlined-btn sub_menu_button"><h4>Logout</h4></button>
      

    </div>

    <div class="order_history_container">
      <h3 class="order_history_title">Ads(mola123456)</h3>

      <div class="history_metrics">

        <div class="total">
          <h4>Currency</h4>
          <h2>NGN</h2>
        </div>

        <div class="progress">
          <h4>Buyers</h4>
          <h2>4</h2>
        </div>

        <div class="completed">
          <h4>Available</h4>
          <h2>N40,000.00</h2>
        </div>

        <div class="cancelled">
          <h4>Sold</h4>
          <h2>N60,000.00</h2>
        </div>

      </div>

      <h5 class="order_history_title">Buyers</h5>

      <div class="history_filter">
        <div class="history_status_filter">
          <button class="filled-btn"><h5>All</h5></button>
          <button class="text-btn"><h5>Completed</h5></button>
          <button class="text-btn"><h5>Cancelled</h5></button>
        
        </div>

      </div>

      <div class="history_table">

        <div class="history_table_head">

          <div class="date_column head">
            <h4>Date</h4>
            <h4>Type</h4>
          </div>

          <div class="sent_column head">
            <h4>Sent</h4>
            <h4>Rate</h4>
          </div>
    
          <div class="receive_column head">
            <h4>Received</h4>
          </div>
    
          <div class="counterparty_column head">
            <h4>Counterparty</h4>
          </div>
    
          <div class="status_column head">
            <h4>Status</h4>
          </div>
    
          <div class="orderID_column head">
            <h4>OrderID</h4>
          </div>

        </div>

        <div class="history_table_body_container">

          <div class="history_table_body">

            <div class="date_column">

              <div class="Title">
                <h4><b>Buy(NGN)</b></h4> 
                <h4>22-01-2024 | 16:04</h4> 
              </div>

            </div>
    
            <div class="sent_column">

              <div class="Title">
                <h4 class="title_s_name">Sent</h4> 
                <h4 style="margin-bottom: 20px;">£15.00</h4> 
              </div>

              <div class="Title"> 
                <h4 class="title_name">Rate</h4> 
                <h4>N1,900.00</h4> 
              </div>

            </div>
      
            <div class="receive_column">
              <div class="Title"> 
                <h4 class="title_name">Received</h4> 
                <h4>N20,000.00</h4> 
              </div>
            </div>
      
            <div class="counterparty_column">
              <div class="Title"> 
                <h4 class="title_name">Counterparty</h4> 
                <h4><b>Biolafrica</b></h4> 
              </div>
            </div>
      
            <div class="status_column">
              <div class="Title"> 
                <h4 class="title_name">Status</h4> 
                <h4>In Progress</h4> 
              </div>
            </div>
    
            <div class="orderID_column">
              <div class="Title"> 
                <h4 class="title_name">Order ID</h4> 
                <h4>mola12345</h4> 
              </div>
            </div>
    
          </div>

          <div class="history_table_body">

            <div class="date_column">

              <div class="Title">
                <h4><b>Buy(NGN)</b></h4> 
                <h4>22-01-2024 | 16:04</h4> 
              </div>

            </div>
    
            <div class="sent_column">

              <div class="Title">
                <h4 class="title_s_name">Sent</h4> 
                <h4 style="margin-bottom: 20px;">£15.00</h4> 
              </div>

              <div class="Title"> 
                <h4 class="title_name">Rate</h4> 
                <h4>N1,900.00</h4> 
              </div>

            </div>
      
            <div class="receive_column">
              <div class="Title"> 
                <h4 class="title_name">Received</h4> 
                <h4>N20,000.00</h4> 
              </div>
            </div>
      
            <div class="counterparty_column">
              <div class="Title"> 
                <h4 class="title_name">Counterparty</h4> 
                <h4><b>Biolafrica</b></h4> 
              </div>
            </div>
      
            <div class="status_column">
              <div class="Title"> 
                <h4 class="title_name">Status</h4> 
                <h4>completed</h4> 
              </div>
            </div>
    
            <div class="orderID_column">
              <div class="Title"> 
                <h4 class="title_name">Order ID</h4> 
                <h4>mola12345</h4> 
              </div>
            </div>
    
          </div>

          <div class="history_table_body">

            <div class="date_column">

              <div class="Title">
                <h4><b>Buy(NGN)</b></h4> 
                <h4>22-01-2024 | 16:04</h4> 
              </div>

            </div>
    
            <div class="sent_column">

              <div class="Title">
                <h4 class="title_s_name">Sent</h4> 
                <h4 style="margin-bottom: 20px;">£15.00</h4> 
              </div>

              <div class="Title"> 
                <h4 class="title_name">Rate</h4> 
                <h4>N1,900.00</h4> 
              </div>

            </div>
      
            <div class="receive_column">
              <div class="Title"> 
                <h4 class="title_name">Received</h4> 
                <h4>N20,000.00</h4> 
              </div>
            </div>
      
            <div class="counterparty_column">
              <div class="Title"> 
                <h4 class="title_name">Counterparty</h4> 
                <h4><b>Biolafrica</b></h4> 
              </div>
            </div>
      
            <div class="status_column">
              <div class="Title"> 
                <h4 class="title_name">Status</h4> 
                <h4>In Progress</h4> 
              </div>
            </div>
    
            <div class="orderID_column">
              <div class="Title"> 
                <h4 class="title_name">Order ID</h4> 
                <h4>mola12345</h4> 
              </div>
            </div>
    
          </div>

          <div class="history_table_body">

            <div class="date_column">

              <div class="Title">
                <h4><b>Buy(NGN)</b></h4> 
                <h4>22-01-2024 | 16:04</h4> 
              </div>

            </div>
    
            <div class="sent_column">

              <div class="Title">
                <h4 class="title_s_name">Sent</h4> 
                <h4 style="margin-bottom: 20px;">£15.00</h4> 
              </div>

              <div class="Title"> 
                <h4 class="title_name">Rate</h4> 
                <h4>N1,900.00</h4> 
              </div>

            </div>
      
            <div class="receive_column">
              <div class="Title"> 
                <h4 class="title_name">Received</h4> 
                <h4>N20,000.00</h4> 
              </div>
            </div>
      
            <div class="counterparty_column">
              <div class="Title"> 
                <h4 class="title_name">Counterparty</h4> 
                <h4><b>Biolafrica</b></h4> 
              </div>
            </div>
      
            <div class="status_column">
              <div class="Title"> 
                <h4 class="title_name">Status</h4> 
                <h4>In Progress</h4> 
              </div>
            </div>
    
            <div class="orderID_column">
              <div class="Title"> 
                <h4 class="title_name">Order ID</h4> 
                <h4>mola12345</h4> 
              </div>
            </div>
    
          </div>

          <div class="history_table_body">

            <div class="date_column">

              <div class="Title">
                <h4><b>Buy(NGN)</b></h4> 
                <h4>22-01-2024 | 16:04</h4> 
              </div>

            </div>
    
            <div class="sent_column">

              <div class="Title">
                <h4 class="title_s_name">Sent</h4> 
                <h4 style="margin-bottom: 20px;">£15.00</h4> 
              </div>

              <div class="Title"> 
                <h4 class="title_name">Rate</h4> 
                <h4>N1,900.00</h4> 
              </div>

            </div>
      
            <div class="receive_column">
              <div class="Title"> 
                <h4 class="title_name">Received</h4> 
                <h4>N20,000.00</h4> 
              </div>
            </div>
      
            <div class="counterparty_column">
              <div class="Title"> 
                <h4 class="title_name">Counterparty</h4> 
                <h4><b>Biolafrica</b></h4> 
              </div>
            </div>
      
            <div class="status_column">
              <div class="Title"> 
                <h4 class="title_name">Status</h4> 
                <h4>In Progress</h4> 
              </div>
            </div>
    
            <div class="orderID_column">
              <div class="Title"> 
                <h4 class="title_name">Order ID</h4> 
                <h4>mola12345</h4> 
              </div>
            </div>
    
          </div>

        </div>
        

      </div>

    </div>

    <div class="pagination">
      <img src="../public/icons/Keyboard arrow left.svg" alt="">

      <div class="pagination_number">
        <div class="page filled_page"><h4>1</h4></div>
        <div class="page"><h4>2</h4></div>
        <div class="page"><h4>3</h4></div>
      </div>

      <img src="../public/icons/Keyboard arrow right.svg" alt="">

    </div>

    <section class="footers">
    
      <div class="top_footer">
        <h2><b>Start selling with Mola</b></h2>
        <h4>Unlock secure transactions and reach more buyer with ease</h4>
        <a href="./views/register.html">
          <button class="filled-btn">
            <h5>Get Started</h5>
          </button>
        </a>
    
      </div>
    
      <div class="middle_footer">
    
        <div class="middle_footer_logo">
    
          <a href="../index.html"><img style="width: 136.88px; height: 27.31px;"
              src="../public/images/White Logo no Background (1) 5.png" alt="mola logo">
          </a>
          <h6>A peer-to-peer currency exchange platform design to offer African immigrants secure, low-cost currency
            exchanges with competitive rates and no hidden fees</h6>
    
        </div>
    
        <div class="middle-footer_content">
    
          <div class="middle-footer_content_left">
            <h6 class="foot_head">Company</h6>
    
            <h6 class="foot_body"><a href="#">About Us</a></h6>
            <h6 class="foot_body"><a href="#">Careers</a></h6>
            <h6 class="foot_body"><a href="#">Blog</a></h6>
          </div>
    
          <div class="middle-footer_content_middle">
            <h6 class="foot_head">Legal</h6>
    
            <h6 class="foot_body"><a href="#">Term of Service</a></h6>
            <h6 class="foot_body"><a href="#">Privacy Policy</a></h6>
            <h6 class="foot_body"><a href="#">Cookie Policy</a></h6>
    
          </div>
    
          <div class="middle-footer_content_right">
            <h6 class="foot_head">Contact</h6>
    
            <h6 class="foot_body"><a href="#">Support</a></h6>
            <div class="footer_right">
              <div class="socials_icon">
                <a href=""><img src="./public/icons/TwitterX.png" alt=""></a>
                <a href=""><img src="./public/icons/Instagram.png" alt=""></a>
                <a href=""><img src="./public/icons/LinkedIn.png" alt=""></a>
              </div>
            </div>
    
          </div>
    
        </div>
    
      </div>
    
      <div class="bottom_footer">
        <h6>Copyright &copy; 2024 Mola Exchange Limited</h6>
    
      </div>
    
    </section>
  </body>
  
</html>