<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Mola Exchange - User's Dashboard</title>
    
  </head>
  <body>

    <header>
      <div class="header_left">
        <a href="../index.html"><img src="../public/images/White Logo no Background (1) 2.png" alt="mola logo"
          class="mola_logo_header">
        </a>
       
      </div>

      <div class="header-middle js_header_middle">
        
        <div class="profile_header_container">

          <h5>Profile</h5>
          <img src="../public/icons/Keyboard arrow down.png" alt="arrow down icon">

          <div class="profile_tooltip">

            <div class="profile_tooltip_header"> 
              <h5 style="padding-left: 20px;">Biolafrica</h5>
              <div class="profile_verification_details">
                <img src="../public/icons/Verified user.svg" alt="">
                <h5 class="light">Intermediate Level Verified</h5>
              </div>
            </div>
            
            <div class="profile_tooltip_body">

              <a class="profile_tooltip_body_nav" href="/views/dashboard.html">
                <img src="../public/icons/Dashboard.svg" alt="">
                <h4>Dashboard</h4>
              </a>
      
              <a class="profile_tooltip_body_nav" href="/views/verify.html">
                <img src="../public/icons/Manage accounts.svg" alt="">
                <h4>Account</h4>
              </a>
              
              <a class="profile_tooltip_body_nav" href="/views/settings.html">
                <img src="../public/icons/Settings.svg" alt="">
                <h4>Settings</h4>
              </a>
      
            </div>
      
            <div class="profile_tooltip_footer" >
              <a class="profile_tooltip_footer_nav" href="/views/login.html">
                <img class="secondary" src="../public/icons/Logout.svg" alt="">
                <h4>Logout</h4>
              </a>
      
            </div>
          </div>

        </div>

        <div class="ads_container">
          <h5>Ads</h5>
          <img src="../public/icons/Keyboard arrow down.png" alt="arrow down icon">

          <div class="more_tooltip">

            <a class="more_tooltip_nav" href="/views/postadd.html">
              <img src="../public/icons/add ads.png" alt="">
              <h4>Post Ads</h4>
            </a>

            <a class="more_tooltip_nav" href="/views/ads.html">
              <img src="../public/icons/ads List.png" alt="">
              <h4>My Ads</h4>
            </a>
      
          </div>

        </div>

      </div>

      <div class="header-right js_header_right">

        <a class="order_header_container" href="/views/history.html" >
          <div class="notification">1</div>
          <img src="../public/icons/Article.png" alt="order icon">
          <h5 class="order_name">Order</h5>
        </a>

        <div class="hamburger js_hamburger">
          <img src="../public/icons/Menu.png" alt="menu icon">
        </div>

        <div class="close js_close">
          <img src="../public/icons/Close.png" alt="close icon">
        </div>
       
      </div>

    </header>

    <!---hamburger small screen menu-->
    <div class="sub_menu js_sub_menu">

      <div class="profile_sub-menu">
        <h6 class="profile_sub-menu_heading"><b>Profile</b></h6>

        <div class="profile_sub-menu_first">

          <a class="profile_sub-menu_wallet" href="/views/dashboard.html">
            <img  src="../public/icons/Wallet.png" alt="wallet icon">
            <h5><b>Wallet</b></h5>
          </a>

          <a class="profile_sub-menu_account" href="/views/verify.html">
            <img src="../public/icons/Manage accounts.svg" alt="account icon">
            <h5><b>Account</b></h5>
          </a>
        </div>

        <div class="profile_sub-menu_second">
          <a class="profile_sub-menu_profile" href="/views/settings.html">
            <img src="../public/icons/Settings.svg" alt="settings icon">
            <h5><b>Settings</b></h5>
          </a>
        </div>

      </div>

      <div class="ads_sub-menu">
        <h6 class="ads_sub-menu_heading"><b>Ads</b></h6>

        <div class="ads_sub-menu_first">

          <a class="ads_sub-menu_new_ads" href="/views/postadd.html">
            <img src="../public/icons/add ads.png" alt="post ads icon">
            <h5><b>Post Ads</b></h5>
          </a>

          <a class="ads_sub-menu_my_ads" href="/views/ads.html">
            <img src="../public/icons/ads List.png" alt="ads list icon">
            <h5><b>My Ads</b></h5>
          </a>

        </div>

      </div>

      <button class="outlined-btn sub_menu_button"><h4>Logout</h4></button>
      

    </div>

    <!--more order info popup-->
    <div class="more_info_popup js_more_info_popup">

      <!--<div class="more_info_popup_left">

        <div class="more_info_popup_left_top">
    
          <div class="more_info_popup_image">
            <img src="../public/avatar/avatar_12.svg" alt="">
          </div>

          <div class="more_info_popup_text">

            <div class="more_info_popup_text_up">
              <h4>Biolafrica</h4>
              <img src="../public/icons/Verified.svg" alt="">
            </div>

            <div class="more_info_popup_text_down">
              <h4 class="secondary">128 Orders | 100.0% completion</h4>
            </div>
          </div>

        </div>

        <div class="more_info_popup_left_middle">

          <div class="more_info_popup_verification">
            <h4 class="secondary">Verification level</h4>
            <h4>Advance level</h4>
          </div>

          <div class="more_info_popup_time_limit">
            <h4 class="secondary">Payment Time Limit</h4>
            <h4>15 minutes</h4>
          </div>

          <div class="more_info_popup_amount">
            <h4 class="secondary">Available Amount</h4>
            <h4>200,000.00 NGN</h4>
          </div>

        </div>
        
        <div class="more_info_popup_left_bottom">
          <h4>Seller's Terms(Read Carefully)</h4>
          <h4 class="secondary">Please do not send money with a third party account name.</h4>
        </div>  

      </div>
    
      <div class="more_info_popup_right">
        <h4>Rate: <b>1,900.00 NGN</b></h4>
    
        <form action="">
    
          <Label><h4>I want to pay:</h4></Label>
          <div class="input_money" style="margin-bottom: 0px;width: 100%;">
            <input type="text" placeholder="0.00">
            <h4>GBP</h4>
          </div>
          <h5 class="light" style="margin-bottom: 35px;">Limits £500.0 - £700.0</h5>

          <Label><h4>I will receive:</h4></Label>
          <div class="input_money" style="width: 100%;">
            <input type="text" placeholder="0.00">
            <h4>NGN</h4>
          </div>
          
        </form> 
    
        <div class="more_info_popup_button">
          <button class="outlined-btn"><h5 class="js_cancel_btn">Cancel</h5></button>
          <a href="/views/order.html"><button style="width: 100%;" class="filled-btn Js_buy_order_btn"><h5>Buy NGN</h5></button></a>
        </div>
    
          
      </div>-->
    
    </div>

    <!--error popup-->
    <div class="error_popup js_error_popup">
      <img src="./public/icons/Cancel.svg" alt="">
      <h4>Account deactivated Successfully</h4>
    </div>
    

    <div class="overlay js_overlay"></div>

    <section class="dashboard_container">

      <div class="dashboard_head js_dashboard_head">

        <!--<div class="dashboard_head_top js_dashboard_head_top">

          <div class="dashboard_head_top_dp">
            <img src="../public/avatar/avatar_13.svg" alt="">
          </div>

          <div class="dashboard_head_top_text">
            <h3>Biolafrica</h3>

            <div class="dashboard_head_top_text_middle">
              <img src="../public/icons/Date range.svg" alt="">
              <h4>Joined April 2024</h4>
            </div>

            <div class="dashboard_head_top_text_bottom">
              <h4>Advance Verification</h4>
              <img src="../public/icons/Check Mark.svg" alt="">
            </div>
          </div>

        </div>

        <div class="dasboard_head_bottom js_dasboard_head_bottom">

          <div class="dasboard_head_bottom_top">

            <div class="dasboard_head_bottom_top_left">
              <div class="all_trades_container">
                <h4 class="secondary">All Trades</h4>
                <div class="all_tardes_metrics">
                  <h2 class="dashboard_metrics_big">100</h2>
                  <h4 class="dashboard_metrics_small">100</h4>
                  <h4>Buy <b>80</b> | Sell <b>20</b></h4>
                </div>
              </div>

              <div class="completion_rate_container">
                <h4 class="secondary">Completion Rate</h4>
                <div class="completion_rate_metrics">
                  <h2 class="dashboard_metrics_big">100%</h2>
                  <h4 class="dashboard_metrics_small">100%</h4>
                </div>

              </div>
            </div>

            <div class="dasboard_head_bottom_top_right">
              <div class="positive_feedbacks_container">
                <h4 class="secondary">Feedbacks</h4>
                <div class="all_feedbacks_metrics">
                  <h2 class="dashboard_metrics_big">10</h2>
                  <h4 class="dashboard_metrics_small">10</h4>
                  <h4>Positive <b>8</b> | Negative <b>2</b></h4>
                </div>

              </div>

            </div>

          </div>

        </div> -->

      </div>

      <div class="dashboard_body">

        <div class="dashboard_body_filter">
          <button class="line_button js_ads_btn"><h5>Ads</h5></button>
          <button class="ord_button js_feedback_btn"><h5>Feedbacks</h5></button>
        </div>

        <div class="dashboard_body_ads_container">

          <div class="row_head heading head_round">
            <div class="seller_container head"><h6>Currency</h6></div>
            <div class="rate_container head"><h6>Rate</h6></div>
            <div class="Amount_available_container head"><h6>Amount Available</h6></div>
            <div class="Limit_container head"><h6>Limit</h6></div>
            <div class="Buy_container head"><h6>Buy</h6></div>
          </div>
    
          <div class="row_head_body js_row_head_body">
    
            <!--<div class="row_head">
    
              <div class="seller_container big">
                <div class="seller_container_image seller_dashboard">
                  <img src="../public/icons/Flag circle.svg" alt="">
                  <h4><b>NGN</b></h4>
                </div>
              </div>
    
              <div class="rate_container big">
                <h4 class="small_title secondary">Rate:</h4>
                <h3>1,918</h3>NGN
              </div>
    
              <div class="Amount_available_container big">
                <h4 class="small_title secondary">Available:</h4>
                <h4>200,000.00 NGN</h4>
              </div>
    
              <div class="Limit_container big">
                <h4 class="small_title secondary">Limit:</h4>
                <h4>200.00 - 250.00 GBP</h4>
              </div>
    
              <div class="Buy_container big">
                <button class="filled-btn js_buy_dash_btn"><h5>BUY NGN</h5></button>
              </div>
    
              
              <div class="left_row">
                <div class="seller_container">
    
                  <div class="seller_container_image seller_dashboard">
                    <img src="../public/icons/Flag circle.svg" alt="">
                    <h4><b>NGN</b></h4>
                  </div>
      
                </div>
      
                <div class="rate_container">
                  <h4 class="small_title secondary">Rate:</h4>
                  <h3>1,918</h3>NGN
                </div>
      
                <div class="Amount_available_container">
                  <h4 class="small_title secondary">Available:</h4>
                  <h4>200,000.00 NGN</h4>
                </div>
      
                <div class="Limit_container">
                  <h4 class="small_title secondary">Limit:</h4>
                  <h4>200.00 - 250.00 GBP</h4>
                </div>
    
              </div>
    
              <div class="right_row">
    
                <div class="Buy_container">
                  <button class="filled-btn js_buy_dash_btn"><h5>BUY NGN</h5></button>
                </div>
    
              </div>
              
            </div>>
    
            <div class="row_head">
    
              <div class="seller_container big">
    
                <div class="seller_container_image seller_dashboard">
                  <img src="../public/icons/Flag circle.svg" alt="">
                  <h4><b>GBP</b></h4>
                </div>
    
              </div>
    
              <div class="rate_container big">
                <h4 class="small_title secondary">Rate:</h4>
                <h3>1,918</h3>NGN
              </div>
    
              <div class="Amount_available_container big">
                <h4 class="small_title secondary">Available:</h4>
                <h4>200,000.00 GBP</h4>
              </div>
    
              <div class="Limit_container big">
                <h4 class="small_title secondary">Limit:</h4>
                <h4>200.00 - 250.00 NGN</h4>
              </div>
    
              <div class="Buy_container big">
                <button class="filled-btn js_buy_dash_btn"><h5>BUY GBP</h5></button>
              </div>
    
              
              <div class="left_row">
                <div class="seller_container">
    
                  <div class="seller_container_image seller_dashboard">
                    <img src="../public/icons/Flag circle.svg" alt="">
                    <h4><b>GBP</b></h4>
                  </div>
      
                </div>
      
                <div class="rate_container">
                  <h4 class="small_title secondary">Rate:</h4>
                  <h3>1,918</h3>NGN
                </div>
      
                <div class="Amount_available_container">
                  <h4 class="small_title secondary">Available:</h4>
                  <h4>200,000.00 GBP</h4>
                </div>
      
                <div class="Limit_container">
                  <h4 class="small_title secondary">Limit:</h4>
                  <h4>200.00 - 250.00 NGN</h4>
                </div>
    
              </div>
    
              <div class="right_row">
    
                <div class="Buy_container">
                  <button class="filled-btn js_buy_dash_btn"><h5>BUY GBP</h5></button>
                </div>
    
              </div>
              
            </div>
    
            <div class="row_head">
    
              <div class="seller_container big">
                <div class="seller_container_image seller_dashboard">
                  <img src="../public/icons/Flag circle.svg" alt="">
                  <h4><b>NGN</b></h4>
                </div>
              </div>
    
              <div class="rate_container big">
                <h4 class="small_title secondary">Rate:</h4>
                <h3>1,918</h3>NGN
              </div>
    
              <div class="Amount_available_container big">
                <h4 class="small_title secondary">Available:</h4>
                <h4>200,000.00 NGN</h4>
              </div>
    
              <div class="Limit_container big">
                <h4 class="small_title secondary">Limit:</h4>
                <h4>200.00 - 250.00 GBP</h4>
              </div>
    
              <div class="Buy_container big">
                <button class="filled-btn js_buy_dash_btn"><h5>BUY NGN</h5></button>
              </div>
    
              
              <div class="left_row">
                <div class="seller_container">
    
                  <div class="seller_container_image seller_dashboard">
                    <img src="../public/icons/Flag circle.svg" alt="">
                    <h4><b>NGN</b></h4>
                  </div>
      
                </div>
      
                <div class="rate_container">
                  <h4 class="small_title secondary">Rate:</h4>
                  <h3>1,918</h3>NGN
                </div>
      
                <div class="Amount_available_container">
                  <h4 class="small_title secondary">Available:</h4>
                  <h4>200,000.00 NGN</h4>
                </div>
      
                <div class="Limit_container">
                  <h4 class="small_title secondary">Limit:</h4>
                  <h4>200.00 - 250.00 GBP</h4>
                </div>
    
              </div>
    
              <div class="right_row">
    
                <div class="Buy_container">
                  <button class="filled-btn js_buy_dash_btn"><h5>BUY NGN</h5></button>
                </div>
    
              </div>
              
            </div>
    
            <div class="row_head">
    
              <div class="seller_container big">
                <div class="seller_container_image seller_dashboard">
                  <img src="../public/icons/Flag circle.svg" alt="">
                  <h4><b>GBP</b></h4>
                </div>
    
              </div>
    
              <div class="rate_container big">
                <h4 class="small_title secondary">Rate:</h4>
                <h3>1,918</h3>NGN
              </div>
    
              <div class="Amount_available_container big">
                <h4 class="small_title secondary">Available:</h4>
                <h4>200,000.00 GBP</h4>
              </div>
    
              <div class="Limit_container big">
                <h4 class="small_title secondary">Limit:</h4>
                <h4>200.00 - 250.00 NGN</h4>
              </div>
    
              <div class="Buy_container big">
                <button class="filled-btn js_buy_dash_btn"><h5>BUY GBP</h5></button>
              </div>
    
              
              <div class="left_row">
                <div class="seller_container">
    
                  <div class="seller_container_image seller_dashboard">
                    <img src="../public/icons/Flag circle.svg" alt="">
                    <h4><b>GBP</b></h4>
                  </div>
      
                </div>
      
                <div class="rate_container">
                  <h4 class="small_title secondary">Rate:</h4>
                  <h3>1,918</h3>NGN
                </div>
      
                <div class="Amount_available_container">
                  <h4 class="small_title secondary">Available:</h4>
                  <h4>200,000.00 GBP</h4>
                </div>
      
                <div class="Limit_container">
                  <h4 class="small_title secondary">Limit:</h4>
                  <h4>200.00 - 250.00 NGN</h4>
                </div>
    
              </div>
    
              <div class="right_row">
    
                <div class="Buy_container">
                  <button class="filled-btn js_buy_dash_btn"><h5>BUY GBP</h5></button>
                </div>
    
              </div>
              
            </div>
    
            <div class="row_head">
    
              <div class="seller_container big">
    
                <div class="seller_container_image seller_dashboard">
                  <img src="../public/icons/Flag circle.svg" alt="">
                  <h4><b>NGN</b></h4>
                </div>
    
              </div>
    
              <div class="rate_container big">
                <h4 class="small_title secondary">Rate:</h4>
                <h3>1,918</h3>NGN
              </div>
    
              <div class="Amount_available_container big">
                <h4 class="small_title secondary">Available:</h4>
                <h4>200,000.00 NGN</h4>
              </div>
    
              <div class="Limit_container big">
                <h4 class="small_title secondary">Limit:</h4>
                <h4>200.00 - 250.00 GBP</h4>
              </div>
    
              <div class="Buy_container big">
                <button class="filled-btn js_buy_dash_btn"><h5>BUY NGN</h5></button>
              </div>
    
              
              <div class="left_row">
                <div class="seller_container">
    
                  <div class="seller_container_image seller_dashboard">
                    <img src="../public/icons/Flag circle.svg" alt="">
                    <h4><b>NGN</b></h4>
                  </div>
      
                </div>
      
                <div class="rate_container">
                  <h4 class="small_title secondary">Rate:</h4>
                  <h3>1,918</h3>NGN
                </div>
      
                <div class="Amount_available_container">
                  <h4 class="small_title secondary">Available:</h4>
                  <h4>200,000.00 NGN</h4>
                </div>
      
                <div class="Limit_container">
                  <h4 class="small_title secondary">Limit:</h4>
                  <h4>200.00 - 250.00 GBP</h4>
                </div>
    
              </div>
    
              <div class="right_row">
    
                <div class="Buy_container">
                  <button class="filled-btn js_buy_dash_btn"><h5>BUY NGN</h5></button>
                </div>
    
              </div>
              
            </div>-->
    
          </div>
            
          <div class="pagination">
            <img src="../public/icons/Keyboard arrow left.svg" alt="Previous" id="prevPages" class="pagination_arrows">
      
            <div class="pagination_no" id="paginationNo">
      
              <!--<div class="page filled_page"><h5 class="light">1</h5></div>
      
              <div class="page"><h5 class="light">2</h5></div>
              
              <div class="page"><h5 class="light">3</h5></div>
      
              <div class="page"><h5 class="light">4</h5></div>
      
              <div class="page"><h5 class="light">5</h5></div>
      
              <div class="page"><h5 class="light">6</h5></div>
      
              <div class="page"><h5 class="light">10</h5></div>-->
      
            </div>
      
            <img src="../public/icons/Keyboard arrow right.svg" alt="Next" id="nextPages" class="pagination_arrows">
      
          </div>

        </div>

        <div class="dashboard_body_feedbacks_container" style="margin-bottom: 20px;">

          <div class="dashboard_feedbacks_middle">
            <button class="filled-btn"><h6>All(10)</h6</button>
            <button class="text-btn"><h6>Positive(9)</h6></button>
            <button class="text-btn"><h6>Negative(1)</h6></button>
          </div>

          <div class="dashboard_feedbacks_bottom">

            <div class="user_feedback_list">
              <div class="user_feedback_top">
                <div class="feedback_user_dp">
                  <img src="../public/avatar/avatar_14.svg" alt="">
                </div>
                <div class="feedback_user_text">
                  <h4>Ololade</h4>
                  <h4 class="secondary">2024-04-25</h4>
                </div>
              </div>

              <div class="user_feedbacks_bottom">
                <img src="../public/icons/Thumb up.svg" alt="">
                <h4 class="secondary">Fast transaction</h4>
              </div>
            </div>

            <div class="user_feedback_list">
              <div class="user_feedback_top">
                <div class="feedback_user_dp">
                  <h4><b>AB</b></h4>
                </div>
                <div class="feedback_user_text">
                  <h4>Ololade</h4>
                  <h4 class="secondary">2024-04-25</h4>
                </div>
              </div>

              <div class="user_feedbacks_bottom">
                <img src="../public/icons/Thumb up.svg" alt="">
                <h4 class="secondary">No feedback</h4>
              </div>
            </div>

            <div class="user_feedback_list">
              <div class="user_feedback_top">
                <div class="feedback_user_dp">
                  <img src="../public/avatar/avatar_2.svg" alt="">
                </div>
                <div class="feedback_user_text">
                  <h4>Ololade</h4>
                  <h4 class="secondary">2024-04-25</h4>
                </div>
              </div>

              <div class="user_feedbacks_bottom">
                <img src="../public/icons/Thumb up.svg" alt="">
                <h4 class="secondary">Fast transaction</h4>
              </div>
            </div>

          </div>

          <div class="pagination feedback_page">

            <img src="../public/icons/Keyboard arrow left.svg" alt="Previous" id="prevPages" class="pagination_arrows">
      
            <div class="pagination_no" id="paginationNo">
      
              <div class="page filled_page"><h5 class="light">1</h5></div>
      
              <div class="page"><h5 class="light">2</h5></div>
      
            </div>
      
            <img src="../public/icons/Keyboard arrow right.svg" alt="Next" id="nextPages" class="pagination_arrows">
      
          </div>

        </div>

      </div>

    </section>


    <section class="footers">
    
      <div class="top_footer">
        <h2><b>Start selling with Mola</b></h2>
        <h4>Unlock secure transactions and reach more buyer with ease</h4>
        <h5 class="started_btn"><a href="../views/register.html" class="filled-btn">
          Get Started
        </a></h5>
    
      </div>
    
      <div class="middle_footer">
    
        <div class="middle_footer_logo">
    
          <a href="../index.html"><img style="width: 136.88px; height: 27.31px;"
              src="../public/images/White Logo no Background (1) 5.png" alt="mola logo">
          </a>
          <h6>A peer-to-peer currency exchange platform design to offer African immigrants secure, low-cost currency
            exchanges with competitive rates and no hidden fees</h6>
    
        </div>
    
        <div class="middle-footer_content">
    
          <div class="middle-footer_content_left">
            <h6 class="foot_head">Company</h6>
    
            <h6 class="foot_body"><a href="#">About Us</a></h6>
            <h6 class="foot_body"><a href="#">Careers</a></h6>
            <h6 class="foot_body"><a href="#">Blog</a></h6>
          </div>
    
          <div class="middle-footer_content_middle">
            <h6 class="foot_head">Legal</h6>
    
            <h6 class="foot_body"><a href="#">Term of Service</a></h6>
            <h6 class="foot_body"><a href="#">Privacy Policy</a></h6>
            <h6 class="foot_body"><a href="#">Cookie Policy</a></h6>
    
          </div>
    
          <div class="middle-footer_content_right">
            <h6 class="foot_head">Contact</h6>
    
            <h6 class="foot_body"><a href="#">Support</a></h6>
            <div class="footer_right">
              <div class="socials_icon">
                <a href=""><img src="../public/icons/TwitterX.png" alt=""></a>
                <a href=""><img src="../public/icons/Instagram.png" alt=""></a>
                <a href=""><img src="../public/icons/LinkedIn.png" alt=""></a>
              </div>
            </div>
    
          </div>
    
        </div>
    
      </div>
    
      <div class="bottom_footer">
        <h6>Copyright &copy; 2024 Mola Exchange Limited</h6>
    
      </div>
    
    </section>

    <script type="module" src="../public/script/dashboard.js"></script>

  </body>
  
</html>