<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style.css">
  <title>Document</title>
</head>
<body>
  <div class="dashboard_container">

    <div class="dashboard_head">

      <div class="dashboard_head_top">
        <div class="dashboard_head_top_dp">
          <img src="../public/avatar/avatar 13.svg" alt="">
        </div>

        <div class="dashboard_head_top_text">
          <h3>biolafrica</h3>
          <div class="dashboard_head_top_text_middle">
            <img src="../public/icons/Date range.svg" alt="">
            <h4>Joined April 2024</h4>
          </div>
          <div class="dashboard_head_top_text_bottom">
            <h4>Advance Verification</h4>
            <img src="../public/icons/Check Mark.svg" alt="">
          </div>
        </div>
      </div>

      <div class="dasboard_head_bottom">

        <div class="dasboard_head_bottom_top">

          <div class="dasboard_head_bottom_top_left">
            <div class="all_trades_container">
              <h4>All Trades</h4>
              <div class="all_tardes_metrics">
                <h2 class="dashboard_metrics_big">100</h2>
                <h4 class="dashboard_metrics_small">100</h4>
                <h4>Buy <b>80</b> | Sell <b>20</b></h4>
              </div>
            </div>

            <div class="completion_rate_container">
              <h4>Completion Rate</h4>
              <div class="completion_rate_metrics">
                <h2 class="dashboard_metrics_big">100%</h2>
                <h4 class="dashboard_metrics_small">100%</h4>
              </div>

            </div>
          </div>

          <div class="dasboard_head_bottom_top_right">
            <div class="positive_feedbacks_container">
              <h4>Positive</h4>
              <div class="all_tardes_metrics">
                <h2 class="dashboard_metrics_big">10</h2>
                <h4 class="dashboard_metrics_small">10</h4>
                <h4>Positive <b>8</b> | Negative <b>2</b></h4>
              </div>

            </div>

          </div>

        </div>

        <div class="dasboard_head_bottom_bottom"></div>

      </div>
    </div>

    <div class="dashboard_body">

      <div class="dashboard_body_filter">
        <button class="filled-btn"><h4>Ads</h4></button>
        <button class="text-btn"><h4>Feedbacks</h4></button>
      </div>

      <div class="dashboard_body_ads_container">

        <div class="orders_container">

          <div class="row_head">
            <div class="seller_container head"><h4>Currency</h4></div>
            <div class="rate_container head"><h4>Rate</h4></div>
            <div class="Amount_available_container head"><h4>Amount Available</h4></div>
            <div class="Limit_container head"><h4>Limit</h4></div>
            <div class="Buy_container head"><h4>Buy</h4></div>
          </div>
    
          <div class="row_head_body">
    
            <div class="row_head">
              <div class="seller_container">
    
                <div class="seller_container_image">
                  <img src="../public/icons/Flag circle.svg" alt="">
                  <h4><b>NGN</b></h4>
                </div>
    
                <div class="seller_container_user">
    
                  <div class="seller_container_username">
                    <h4>Biolafrica</h4>
                    <img src="./public/icons/Verified.svg" alt="">
                  </div>
    
                  <div class="seller_container_metrics">
                    <h5>128 Orders | 100%</h5>
                  </div>
    
                </div>
    
              </div>
    
              <div class="rate_container">
                <h3>1,918</h3>NGN
              </div>
    
              <div class="Amount_available_container"><h4>200,000.00 NGN</h4></div>
    
              <div class="Limit_container"><h4>200.00 - 250.00 GBP</h4></div>
    
              <div class="Buy_container">
                <button class="filled-btn"><h5>BUY NGN</h5></button>
              </div>
    
            </div>
    
            <div class="row_head">
              <div class="seller_container">
    
                <div class="seller_container_image">
                  <img src="../public/icons/Flag circle.svg" alt="">
                  <h4><b>GBP</b></h4>
                </div>
    
                <div class="seller_container_user">
    
                  <div class="seller_container_username">
                    <h4>Biolafrica</h4>
                    <img src="./public/icons/Verified.svg" alt="">
                  </div>
    
                  <div class="seller_container_metrics">
                    <h5>128 Orders | 100%</h5>
                  </div>
    
                </div>
    
              </div>
    
              <div class="rate_container">
                <h3>1,918</h3>NGN
              </div>
    
              <div class="Amount_available_container"><h4>200,000.00 NGN</h4></div>
              <div class="Limit_container"><h4>200.00 - 250.00 GBP</h4></div>
              <div class="Buy_container">
                <button class="filled-btn"><h5>BUY NGN</h5></button>
              </div>
            </div>
    
          </div>
          
        </div>
      </div>

      <div class="dashboard_body_feedbacks_container">

        <div class="dashboard_feedbacks_top">
          <h3>80%</h3>

          <div class="review_container">

            <h4>10 Reviews</h4>
            <div class="review_type_container">
              <div class="review_positive_container">
                <img src="../public/icons/Thumb up.svg" alt="">
                <h4>8</h4>
              </div>
              <div class="review_negative_container">
                <img src="../public/icons/Thumb down.svg" alt="">
                <h4>2</h4>
              </div>

            </div>
          </div>
        </div>

        <div class="dashboard_feedbacks_middle">
          <h4>All</h4>
          <h4>Positive</h4>
          <h4>Negative</h4>
        </div>

        <div class="dashboard_feedbacks_bottom">

          <div class="user_feedback_list">
            <div class="user_feedback_top">
              <div class="feedback_user_dp">
                <img src="../public/avatar/avatar 14.svg" alt="">
              </div>
              <div class="feedback_user_text">
                <h4>Ololade</h4>
                <h4 class="secondary">2024-04-25</h4>
              </div>
            </div>

            <div class="user_feedbacks_bottom">
              <img src="../public/icons/Thumb up.svg" alt="">
              <h4 class="secondary">Fast transaction</h4>
            </div>
          </div>

          <div class="user_feedback_list">
            <div class="user_feedback_top">
              <div class="feedback_user_dp">
                <h4><b>AB</b></h4>
              </div>
              <div class="feedback_user_text">
                <h4>Ololade</h4>
                <h4 class="secondary">2024-04-25</h4>
              </div>
            </div>

            <div class="user_feedbacks_bottom">
              <img src="../public/icons/Thumb up.svg" alt="">
              <h4 class="secondary">No feedback</h4>
            </div>
          </div>

          <div class="user_feedback_list">
            <div class="user_feedback_top">
              <div class="feedback_user_dp">
                <img src="../public/avatar/avatar 2.svg" alt="">
              </div>
              <div class="feedback_user_text">
                <h4>Ololade</h4>
                <h4 class="secondary">2024-04-25</h4>
              </div>
            </div>

            <div class="user_feedbacks_bottom">
              <img src="../public/icons/Thumb up.svg" alt="">
              <h4 class="secondary">Fast transaction</h4>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</body>
</html>