<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mola Exchange - Login Page</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>

  <body>

    <div class="brand_header">
      <div class="header_middle">
        <a href="../index.html"><img style="width: 136.88px; height: 27.31px;" src="../public/images/White Logo no Background (1) 3.png"
        alt="mola logo"></a>
        
      </div>
    </div>

    <div class="login_container">

      <form action="" id="loginForm" class="login_form">
        <div class="form_text">
          <h3><b>Welcome Back</b></h3>
          <h4 class="secondary">Sign into your Mola account to continue</h4>
        </div>
          
        <h4><label for="email">Email</label></h4>
        <input type="text" placeholder="Enter email address" id="email" required> 
        <div class="email_sub_text"></div>

        <label for=""><h4>Password</h4></label>
        <input class="h3" type="password" placeholder="Enter password" id="password" required>
        <div class="password_sub_text"></div>

        <h5 class="Forgot_password" >
          <a href="./reset1.html" style="color: #2970ff;">
            Forgot Password?
          </a>
        </h5>

        <button class="filled-btn"><h5>Login</h5></button>

        <h5 class="create_mola">
          <a href="./register.html" style="color: #2970ff;">Create a mola account</a>
        </h5>

      </form>
    
    </div>  

    <script src="../public/script/login.js"></script>
    
  </body>

</html>