<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>

  <body>

    <header>

      <div class="header_left">
        <a href="../index.html"><img src="../public/icons/Currency exchange.svg" alt=""></a>
        <a href="../index.html"><h3><b>Mola</b></h3></a>
        
      </div>
  
      <div class="header_right">
  
        <a class="order_container" href="/views/history.html">
          <img src="../public/icons/Receipt long.svg" alt="">
          <h5>My Orders</h5>
        </a>
  
        <div class="profile_container">
          <img src="../public/icons/Account circle.svg" alt="">
          <h5 class="profile_none">My profile</h5>
  
          <div class="profile_tooltip">
  
            <div class="profile_tooltip_header"> 
              <h5 style="padding-left: 20px;">Biolafrica</h5>
              <div class="profile_verification_details">
                <img src="../public/icons/Verified user.svg" alt="">
                <h5 class="light">Intermediate Level Verified</h5>
              </div>
            </div>
            
            <div class="profile_tooltip_body">
  
              <a class="profile_tooltip_body_nav" href="/views/dashboard.html">
                <img src="../public/icons/Dashboard.svg" alt="">
                <h4>Dashboard</h4>
              </a>
      
              <a class="profile_tooltip_body_nav" href="/views/verify.html">
                <img src="../public/icons/Manage accounts.svg" alt="">
                <h4>Account</h4>
              </a>
              
              <a class="profile_tooltip_body_nav" href="/views/settings.html">
                <img src="../public/icons/Settings.svg" alt="">
                <h4>Settings</h4>
              </a>
      
            </div>
      
            <div class="profile_tooltip_footer" >
              <a class="profile_tooltip_footer_nav" href="/views/login.html">
                <img class="secondary" src="../public/icons/Logout.svg" alt="">
                <h4>Logout</h4>
              </a>
      
            </div>
          </div>
        </div>
  
        <div class="more_container">
          <img src="../public/icons/Pending.svg" alt="">
          <h5 class="more_none">More</h5>
          <img src="../public/icons/Arrow drop down.svg" alt="">
  
          <div class="more_tooltip">
  
            <a class="more_tooltip_nav" href="/views/postadd.html">
              <img src="../public/icons/Playlist add.svg" alt="">
              <h4>Post New Ads</h4>
            </a>
  
            <a class="more_tooltip_nav" href="/views/history.html">
              <img src="../public/icons/Format list bulleted.svg" alt="">
              <h4>My Ads</h4>
            </a>
      
          </div>
        </div>
  
      </div>
    </header>

    <div class="order_head">
      <div class="order_head_left">
        <h3>Pay seller within: <span><b>15 : 00</b></span></h3>
      </div>

      <div class="order_head_right">

        <h4 style="color:var(--Secondary-Text-light)">
          Order ID: 
          <span style="color:var(--Text-light)">
            A123456789
          </span>
        </h4>

        <h4 style="color:var(--Secondary-Text-light)">
          Time created: 
          <span style="color:var(--Text-light)">
            2021-05-01 15:37:43
          </span>
        </h4>

      </div>
    </div>

    <div class="orders_container">
      <div class="order_bodys_container">

        <div class="order_body_container">

          <div class="order_body">

            <div class="order_details">
    
              <div class="order_details_head">
                <h4><b>ORDER CREATED</b></h4>
                <h4 style="color:var(--Secondary-Text-light)">Confirming your transaction details delow</h4>
              </div>
    
              <div class="order_details_body">
                <div class="order_sent">
                  <h4 style="color:var(--Secondary-Text-light)">I am Sending</h4>
                  <h4><b>£20,000.00</b></h4>
                </div>
    
                <div class="order_price">
                  <h4 style="color:var(--Secondary-Text-light)">Price</h4>
                  <h4><b>£1,700.00</b></h4>
                </div>
                
                <div class="order_received">
                  <h4 style="color:var(--Secondary-Text-light)">I am Sending</h4>
                  <h4><b>N20,000.00</b></h4>
                </div>
              </div>
            </div>

            <div class="order_terms_details">
    
              <h4><b>
                TRANSACTION TERMS
              </b></h4>

              <h4 style="color:var(--Secondary-Text-light)">
                Please use your full name as comment if your bank account name is different from registered account name
              </h4>
            
            </div>
    
            <div class="order_payment_details">
    
              <div class="order_payment_details_head">
                <h4><b>PAYMENT INFORMATION</b></h4>
                <h4 style="color:var(--Secondary-Text-light)">Transfer <b style="color:var(--Text-light)">£20,000.00</b> the account details below;</h4>
              </div>
    
              <div class="order_payment_details_body">
    
                <div class="order_payment_details_body_up">
                  <div class="account_name">
                    <h4 style="color:var(--Secondary-Text-light)">Name</h4>
                    <h4>Abiodun Lateef Biobaku</h4>
                  </div>
                  <div class="bank">
                    <h4 style="color:var(--Secondary-Text-light)">Bank Name</h4>
                    <h4>Lloyd's Bank</h4>
                  </div>
    
                </div>
    
                <div class="order_payment_details_body_down">
                  <div class="account_number">
                    <h4 style="color:var(--Secondary-Text-light)">Account Number</h4>
                    <h4>0121615892</h4>
                  </div>
                  <div class="sort_code">
                    <h4 style="color:var(--Secondary-Text-light)">Sort Code</h4>
                    <h4>01-02-13</h4>
                  </div>
                  
                </div>
               
              </div>
    
    
            </div>
    
            <div class="order_payment_status">
    
              <div class="order_payment_status_head">
                <h4><b>PAYMENT UPDATE</b></h4>
                <h4 style="color:var(--Secondary-Text-light)">Click on "Transferred" to notify the seller after payment</h4>
              </div>
    
              <div class="order_payment_status_body">
                <button class="filled-btn"><h5>Transferred</h5></button>
                <button class="text-btn"><h5>Cancel Order</h5></button>
              </div>
            </div>

          </div>

        </div>

        <div class="user_term_container">

          <div class="user_terms">

            <div class="user_term_head">
              <div class="user_term_image">
                <img src="../public/images/3D Avatars.svg" alt="">
              </div>
  
              <div class="user_term_user">
  
                <div class="user_term_username">
                  <h4>Biolafrica</h4>
                  <img src="../public/icons/Verified.svg" alt="">
                </div>
  
                <div class="user_term_metrics">
                  <h5 style="color:var(--Secondary-Text-light)">128 Orders | 100%</h5>
                </div>
  
              </div>

            </div>

            <div class="user_term_body">
              <h4>Terms(Please Read Carefully)</h4>
              <h4 style="color:var(--Secondary-Text-light);">Please use your full name as comment if your bank account name is different from the registered account name</h4>
            </div>
          </div>

        </div>

      </div>

    </div>


    <section class="footers">
      <div class="footer">
  
        <div class="footer_left">
          <h2><b>Mola</b></h2>
        </div>
    
        <div class="footer_middle">
          <a href=""><h4><b>Privacy and Terms</b></h4></a>
          <a href=""><h4><b>About Mola</b></h4></a>
          <a href=""><h4><b>Support</b></h4></a>
        </div>
    
        <div class="footer_right">
          <h4>Follow us</h4>
          <div class="socials_icon">
            <a href=""><img src="../public/icons/Facebook.svg" alt=""></a>
            <a href=""><img src="../public/icons/TwitterX.svg" alt=""></a>
            <a href=""><img src="../public/icons/Instagram.svg" alt=""></a>
            <a href=""><img src="../public/icons/LinkedIn.svg" alt=""></a>
          </div>
    
        </div>
  
      </div>
  
      <h5 class="secondary light" style="text-align: center;">Copyright &copy; 2024 Mola Exchange Limited</h5>
  
      
  
    </section>


    
  </body>
</html>