<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>

  <div class="post_ads_container">

    <h3 class="post_ads_head_text">Post New Ads</h3>

    <div class="post_ads_sub_container">

      <!-- left side progress screen-->
     
      <div class="post_ads_progress_container">
  
        <div class="stage_1">
          <img src="../public/icons/Radio button unchecked.svg" alt="">
          <h4>Set Currency</h4>
        </div>
  
        <div class="line"></div>
  
        <div class="stage_2">
          <img src="../public/icons/Radio button unchecked.svg" alt="">
          <h4>Set Amount and Rate</h4>
        </div>
  
        <div class="line"></div>
  
        <div class="stage_3">
          <img src="../public/icons/Radio button unchecked.svg" alt="">
          <h4>Set Payment Method</h4>
        </div>
  
        <div class="line"></div>
  
        <div class="stage_4">
          <img src="../public/icons/Radio button unchecked.svg" alt="">
          <h4>Set Exchange Term</h4>
        </div>
  
      </div>
  
      <!-- post form-->
      <div class="post_ads_form">
        <form action="" class="post_ad_form">
  
          <label for=""><h4>I want to sell:</h4></label>
          <select name="" id="ads_select_type">
            <option value="NGN">NGN</option>
            <option value="GBP">GBP</option>
          </select>
  
          <label for=""><h4>Total Amount:</h4></label>
          <div class="input_money">
            <input type="text" placeholder="0.00" >
            <h4>NGN</h4>
          </div>
          
          <label for=""><h4>Rate:</h4></label>
          <div style="margin-bottom: 0;" class="input_money">
            <input type="text" placeholder="0.00">
            <h4>NGN</h4>
          </div>
          <h5 style="margin-bottom: 35px;">Your rate should be between N1,900.00 - 1,919.00</h5>
  
  
          <label for=""><h4>Max Order Limit:</h4></label>
          <div class="input_money">
            <input type="text" placeholder="0.00" >
            <h4>GBP</h4>
          </div>
         
  
          <label for=""><h4>Min Order limit:</h4></label>
          <div class="input_money">
            <input type="text" placeholder="0.00" >
            <h4>GBP</h4>
          </div>
         
  
          <label for=""><h4>Pay Time Limit:</h4></label>
          <select name="" id="pay_time_limit">
            <option value="15mins">15 mins</option>
            <option value="30mins">30 mins</option>
            <option value="45mins">45 mins</option>
          </select>
  
          <div class="post_ads_form_bank">
            <h4>Payment Method</h4>

            <div class="bank_option_popup_list in_bank">

              <div class="bank_option_popup_list_head">
                <h4>Account Type  <b>GBP</b></h4>
                <img src="../public/icons/Mode edit.svg" alt="">
              </div>
              <div class="bank_option_popup_list_body">
      
                <div class="bank_name_popup">
                  <h4 class="secondary">Name</h4>
                  <h4>Abiodun Biobaku</h4>
                </div>
      
                <div class="banker_name_popup">
                  <h4 class="secondary">Bank</h4>
                  <h4>Lloyds Bank</h4>
                </div>
      
                <div class="bank_account_popup">
                  <h4 class="secondary">Account Number</h4>
                  <h4>0121615892</h4>
                </div>
      
                <div class="bank_sort_code_popup">
                  <h4 class="secondary">Sort Code</h4>
                  <h4>01-02-03</h4>
                </div>
      
      
              </div>
             
            </div>

            <button class="filled-btn"><h5>Add Bank</h5></button>

          </div>
  
          <label for=""><h4>Exchange Terms:</h4></label>
          <textarea name="" id="" placeholder="Enter extra infromation for your buyer"></textarea>
  
          <button class="filled-btn"><h5>Submit</h5></button>
  
        </form>
  
      </div>
    
    </div>

  </div>

  <!-- add bank popup option-->
  <div class="bank_option_popup">

    <div class="bank_option_popup_head">
      <h4><b>Select Payment Method</b></h4>
      <img src="../public/icons/Close small.svg" alt="">
    </div>

    <div class="bank_option_popup_body">

      <div class="bank_option_popup_list">

        <div class="bank_option_popup_list_head">
          <h4>Account Type  <b>GBP</b></h4>
          <img src="../public/icons/Mode edit.svg" alt="">
        </div>
        <div class="bank_option_popup_list_body">

          <div class="bank_name_popup">
            <h4 class="secondary">Name</h4>
            <h4>Abiodun Biobaku</h4>
          </div>

          <div class="banker_name_popup">
            <h4 class="secondary">Bank</h4>
            <h4>Lloyds Bank</h4>
          </div>

          <div class="bank_account_popup">
            <h4 class="secondary">Account Number</h4>
            <h4>0121615892</h4>
          </div>

          <div class="bank_sort_code_popup">
            <h4 class="secondary">Sort Code</h4>
            <h4>01-02-03</h4>
          </div>


        </div>
       
      </div>

      <div class="bank_option_popup_list">

        <div class="bank_option_popup_list_head">
          <h4>Account Type  <b>GBP</b></h4>
          <img src="../public/icons/Mode edit.svg" alt="">
        </div>
        <div class="bank_option_popup_list_body">

          <div class="bank_name_popup">
            <h4 class="secondary">Name</h4>
            <h4>Abiodun Biobaku</h4>
          </div>

          <div class="banker_name_popup">
            <h4 class="secondary">Bank</h4>
            <h4>Lloyds Bank</h4>
          </div>

          <div class="bank_account_popup">
            <h4 class="secondary">Account Number</h4>
            <h4>0121615892</h4>
          </div>

          <div class="bank_sort_code_popup">
            <h4 class="secondary">Sort Code</h4>
            <h4>01-02-03</h4>
          </div>


        </div>
       
      </div>


    </div>
  </div>

  
  
</body>
</html>