<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/style.css">
</head>
<body>

  <div class="brand_header">
    <div class="header_middle">
      <img src="../public/icons/Currency exchange.svg" alt="">
      <h3><b>Mola</b></h3>
    </div>
  </div>

  <div class="register_container">

    <form action="">

      <div class="form_text">
        <h2><b>Welcome to Mola</b></h2>
        <h4 class="secondary">Enter your details and start exchanging currency with zero fees.</h4>
      </div>
      
      <div class="register_input_container">

        <div class="form">
          <label for="firstName"><h4>*First Name:</h4></label>
          <input type="text" placeholder="Enter first name" id="firstName" required> 
          <div class="sub_text"></div>
        </div>

        <div class="form">
          <label for="lastName"><h4>*Last Name:</h4></label>
          <input type="text" placeholder="Enter last name" id="lastName" required> 
          <div class="sub_text"></div>
        </div>

      </div>

      <div class="register_input_container">

        <div class="form">
          <label for="emailAddress"><h4>*Email Address:</h4></label>
          <input type="text" placeholder="Enter your email" id="emailAddress" required> 
          <div class="sub_text"></div>
        </div>

        <div class="form">
          <label for="Username"><h4>*Username:</h4></label>
          <input type="text" placeholder="Enter username" id="username" required> 
          <div class="sub_text"></div>
        </div>

      </div>

      <div class="register_input_container">

        <div class="form">
          <label for="password"><h4>*Password:</h4></label>
          <input class="h3" type="text" placeholder="Enter password" id="password" required>
          <div class="sub_text"></div>
        </div>

        <div class="form"> 
          <label for="confirmPassword"><h4>*Confirm Password:</h4></label>
          <input class="h3" type="text" placeholder="Re-enter password" id="confirmPassword" required>
          <div class="sub_text"></div>
        </div>
      
      </div>

      <h4>* Indicates a required field.</h4>

      <div class="checkbox-container">
        <input type="checkbox" id="registerCheckbox">
        <label for="registerCheckbox"><h4>I have read and agree to the <b>term of use.</b></h4></label>
      </div>
        
      <button class="filled-btn"><h5>Register</h5></button>
      <h4 class="create_mola">Already have an account?<b>Log In</b></h4>

    </form>
    
  </div>  
  
</body>
</html>