<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header_left">
      <img src="../public/icons/Currency exchange.svg" alt="">
      <h3><b>Mola</b></h3>
    </div>
    <div class="header_right">
      <button class="text-btn"><h5>Log In</h5></button>
      <button class="filled-btn"><h5>Register</h5></button>
    </div>
  </header>

  <div class="login_container">

    <div class="login_left">
      <img src="../public/icons/Lock.svg" alt="">
    </div>

    <div class="login_right">

      <form action="">
        <div class="form_text">
          <h2>Email Verification</h2>
          <h4>Enter the 6 digits verification code sent to your email</h4>
        </div>
        
        <label for="code"><h4>Code:</h4></label>
        <div class="code-input">
          <input type="number" id="code" required> 
          <input type="number">
          <input type="number">
          <input type="number">
        </div>
        <div class="sub_text"></div>

       

        <button class="filled-btn"><h5>Send Verification Code</h5></button>
    

      </form>
    </div>
  </div>  

</body>
</html>