<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Mola Exchange - Reset Password Page</title>
  </head>

  <body>

    <div class="brand_header">
      <div class="header_middle">
        <img src="../public/icons/Currency exchange.svg" alt="">
        <h3><b>Mola</b></h3>
      </div>
    </div>

    <div class="reset_container">

      <form action="">
        <div class="form_text">
          <h3><b>Set New Password</b></h3>
          <h4 class="secondary">Enter new password for your account</h4>
        </div>
        
        <label for="password"><h4>Password</h4></label>
        <input type="password" placeholder="Enter password" id="password" required> 
        <div class="sub_text"></div>

        <label for="confirmPassword"><h4>Confirm Password</h4></label>
        <input type="password" placeholder="Re-enter password" id="confirmPassword" required> 
        <div class="sub_text"></div>

        <button class="filled-btn"><h5>Confirm</h5></button>

      </form>
     
    </div>  

  </body>
</html>