<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Mola Exchange - Reset Password Page</title>
  </head>

  <body>

    <div class="brand_header">
      <div class="header_middle">
        <img src="../public/icons/Currency exchange.svg" alt="">
        <h3><b>Mola</b></h3>
      </div>
    </div>
  
    <div class="reset_container">

      <form action="">

        <div class="form_text">
          <h3><b>Forgot Password</b></h3>
          <h4 class="secondary">Enter your registered email address.</h4>
        </div>
        
        <label for="email"><h4>Email</h4></label>
        <input type="text" placeholder="Enter email address" id="email" required> 
        <div class="sub_text"></div>

        <label for=""><h4>Email Verification Code</h4></label>
        <div class="send_code_container">
          <div class="send_code"><h4>Send code</h4></div>
          <input type="text" placeholder="Enter Verification code">
        </div>
        <div class="error_content"></div>

        <button class="filled-btn"><h5> Confirm</h5></button>
        <a href="./login.html"><h5 class="create_mola"><b>Back to log in</b></h5></a>
    

      </form>

    </div>  

  </body>

</html>