<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Mola Exchange - Settings Page</title>
  </head>
  
  <body>

    <!-- edit username popup screen -->
    <div class="edit_username_container">

      <div class="edit_username_container_head">
        <h4>Edit Username</h4>
        <img class="js_iconCancel" src="../public/icons/Close small.svg" alt="">
      </div>

      <div class="edit_username_container_body">
        <h4 class="secondary">Set your preferred username, Your real names are not allowed.</h4>

        <form action="" id="usernameForm">
          <label for="username"><h4>Username:</h4></label>
          <input type="text" placeholder="enter new username" required id="username">
          <div class="error_text js_username_error_text"></div>

          <div class="edit_username_container_button">
            <button class="outlined-btn username_cancel_btn"><h5>Back</h5></button>
            <button class="filled-btn js_username_submit"><h5>Confirm</h5></button>
          </div>
        </form>
      </div>

    </div>

    <!-- edit avatar popup screen -->
    <div class="edit_avatar_container">

      <div class="edit_avatar_container_head">
        <h4>Edit Avatar</h4>
        <img class="js_iconCancel" src="../public/icons/Close small.svg" alt="">
      </div>

      <div class="edit_avatar_container_body">
        <h4 class="secondary">Select an avatar to use as your profile picture.</h4>

        <div class="avatar_list_container">

          <div class="avatar_list_container_up">
            <div class="avatar_icon" id="avatar_1"><img src="../public/avatar/avatar_1.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_2"><img src="../public/avatar/avatar_2.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_3"><img src="../public/avatar/avatar_3.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_4"><img src="../public/avatar/avatar_4.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_5"><img src="../public/avatar/avatar_5.svg" alt=""></div>
          </div>

          <div class="avatar_list_container_middle">
            <div class="avatar_icon" id="avatar_6"><img src="../public/avatar/avatar_6.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_7"><img src="../public/avatar/avatar_7.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_8"><img src="../public/avatar/avatar_8.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_9"><img src="../public/avatar/avatar_9.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_10"><img src="../public/avatar/avatar_10.svg" alt=""></div>
          </div>

          <div class="avatar_list_container_down">
            <div class="avatar_icon" id="avatar_11"><img src="../public/avatar/avatar_11.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_12"><img src="../public/avatar/avatar_12.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_13"><img src="../public/avatar/avatar_13.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_14"><img src="../public/avatar/avatar_14.svg" alt=""></div>
            <div class="avatar_icon" id="avatar_15"><img src="../public/avatar/avatar_15.svg" alt=""></div>
          </div>

        </div>

        <div class="edit_avatar_container_button">
          <button class="outlined-btn avatar_cancel_btn"><h4>Back</h4></button>
          <button class="filled-btn js_avatar_submit"><h4>Confirm</h4></button>
          <input type="hidden" id="selectedAvatar" name="selectedAvatar" value="">
        </div>

      </div>

    </div>

    <!-- change password popup screen -->
    <div class="change_password_container">

      <div class="change_password_container_head">
        <h4>Change Password</h4>
        <img class="js_iconCancel" src="../public/icons/Close small.svg" alt="">
      </div>

      <div class="edit_password_container_body">
        
        <form class="edit_password_form js_edit_password_form" action="">

          <label for="oldPassword"><h4>Old Password:</h4></label>
          <input type="text" placeholder="Enter old username" required id="oldPassword">
          <div class="password_error js_old_password_error"></div>

          <label for=""><h4>New Password:</h4></label>
          <input type="text" placeholder="Enter new password" required id="newPassword">
          <div class="password_error js_new_password_error"></div>

          <label for=""><h4>Confirm New Password:</h4></label>
          <input type="text" placeholder="Confirm new username" required id="confirmPassword">
          <div class="password_error js_confirm_password_error"></div>

          <div class="edit_username_container_button">
            <button class="outlined-btn password_cancel_btn"><h4>Back</h4></button>
            <button class="filled-btn js_submit_btn"><h4>Confirm</h4></button>
          </div>

        </form>
      </div>

      

    </div>

     <!--success popup-->
     <div class="success_popup js_success_popup">
      <h4>Bank deleted Successfully</h4>
    </div>

    <div class="overlay js_overlay"></div>

    <header>
      <div class="header_left">
        <a href="../index.html"><img src="../public/icons/Currency exchange.svg" alt=""></a>
        <a href="../index.html"><h3><b>Mola</b></h3></a>
      </div>

      <div class="header-middle js_header_middle">
        
        <div class="profile_header_container">

          <h5>Profile</h5>
          <img src="../public/icons/Keyboard arrow down.png" alt="arrow down icon">

          <div class="profile_tooltip">

            <div class="profile_tooltip_header"> 
              <h5 style="padding-left: 20px;">Biolafrica</h5>
              <div class="profile_verification_details">
                <img src="../public/icons/Verified user.svg" alt="">
                <h5 class="light">Intermediate Level Verified</h5>
              </div>
            </div>
            
            <div class="profile_tooltip_body">

              <a class="profile_tooltip_body_nav" href="/views/dashboard.html">
                <img src="../public/icons/Dashboard.svg" alt="">
                <h4>Dashboard</h4>
              </a>
      
              <a class="profile_tooltip_body_nav" href="/views/verify.html">
                <img src="../public/icons/Manage accounts.svg" alt="">
                <h4>Account</h4>
              </a>
              
              <a class="profile_tooltip_body_nav" href="/views/settings.html">
                <img src="../public/icons/Settings.svg" alt="">
                <h4>Settings</h4>
              </a>
      
            </div>
      
            <div class="profile_tooltip_footer" >
              <a class="profile_tooltip_footer_nav" href="/views/login.html">
                <img class="secondary" src="../public/icons/Logout.svg" alt="">
                <h4>Logout</h4>
              </a>
      
            </div>
          </div>

        </div>

        <div class="ads_container">
          <h5>Ads</h5>
          <img src="../public/icons/Keyboard arrow down.png" alt="arrow down icon">

          <div class="more_tooltip">

            <a class="more_tooltip_nav" href="/views/postadd.html">
              <img src="../public/icons/add ads.png" alt="">
              <h4>Post Ads</h4>
            </a>

            <a class="more_tooltip_nav" href="/views/ads.html">
              <img src="../public/icons/ads List.png" alt="">
              <h4>My Ads</h4>
            </a>
      
          </div>

        </div>

      </div>

      <div class="header-right js_header_right">

        <a class="order_header_container" href="/views/history.html" >
          <div class="notification">1</div>
          <img src="../public/icons/Article.png" alt="order icon">
          <h5 class="order_name">Order</h5>
        </a>

        <div class="hamburger js_hamburger">
          <img src="../public/icons/Menu.png" alt="menu icon">
        </div>

        <div class="close js_close">
          <img src="../public/icons/Close.png" alt="close icon">
        </div>
       
      </div>

    </header>

    <!---hamburger small screen menu-->
    <div class="sub_menu js_sub_menu">

      <div class="profile_sub-menu">
        <h6 class="profile_sub-menu_heading"><b>Profile</b></h6>

        <div class="profile_sub-menu_first">

          <a class="profile_sub-menu_wallet" href="/views/dashboard.html">
            <img  src="../public/icons/Wallet.png" alt="wallet icon">
            <h5><b>Wallet</b></h5>
          </a>

          <a class="profile_sub-menu_account" href="/views/verify.html">
            <img src="../public/icons/Manage accounts.svg" alt="account icon">
            <h5><b>Account</b></h5>
          </a>
        </div>

        <div class="profile_sub-menu_second">
          <a class="profile_sub-menu_profile" href="/views/settings.html">
            <img src="../public/icons/Settings.svg" alt="settings icon">
            <h5><b>Settings</b></h5>
          </a>
        </div>

      </div>

      <div class="ads_sub-menu">
        <h6 class="ads_sub-menu_heading"><b>Ads</b></h6>

        <div class="ads_sub-menu_first">

          <a class="ads_sub-menu_new_ads" href="/views/postadd.html">
            <img src="../public/icons/add ads.png" alt="post ads icon">
            <h5><b>Post Ads</b></h5>
          </a>

          <a class="ads_sub-menu_my_ads" href="/views/ads.html">
            <img src="../public/icons/ads List.png" alt="ads list icon">
            <h5><b>My Ads</b></h5>
          </a>

        </div>

      </div>

      <button class="outlined-btn sub_menu_button"><h4>Logout</h4></button>
      

    </div>

    <div class="settings_container">
      <!-- profile settings screen -->
      <div class="settings_sub_container">

        <div class="settings_sub_container_left">

          <a class="settings_sub_container_left_profile" href="#profile">
            <img src="../public/icons/Person 3.svg" alt="">
            <h4>Profile</h4>
          </a>

          <a class="settings_sub_container_left_notification" href="#notification">
            <img src="../public/icons/Notifications.svg" alt="">
            <h4>Notification</h4>
          </a>
          
        </div>

        <div class="settings_sub_container_right">

          <div class="settings_profile_container" id="profile">
            <h3 class="setting_heading"><b>Profile</b></h3>

            <div class="settings_profile_sub_container">

              <div class="settings_profile_username">

                <div class="settings_profile_username_small_up">
                  <div class="settings_profile_username_left">

                    <div class="settings_profile_username_left-icon">
                      <img src="../public/icons/Person 4.svg" alt="">
                    </div>

                    <div class="settings_profile_username_left-text">
                      <h4>Username</h4>
                      <h5 class="light secondary">Set your preferred username</h5>
                    </div>
                    
                  </div>
                </div>

                <div class="settings_profile_username_small_down">
                  <div class="settings_profile_username_middle js_profile_username">
                    <h4>biolafrica</h4>
                  </div>

                  <div class="settings_profile_username_right">
                    <button class="filled-btn js_username_btn"><h5>Edit</h5></button>
                  </div>
                </div>

              </div>

              <div class="settings_profile_avatar">

                <div class="settings_profile_avatar_small_up">

                  <div class="settings_profile_avatar_left">

                    <div class="settings_profile_avatar_left-icon">
                      <img src="../public/icons/Face.svg" alt="">
                    </div>

                    <div class="settings_profile_avatar_left-text">
                      <h4>Avatar</h4>
                      <h5 class="light secondary">Select an avatar that suit your personality</h5>
                    </div>
                    
                  </div>
                </div>

                <div class="settings_profile_avatar_small_down">

                  <div class="settings_profile_avatar_middle js_profile_avatar">
                    <img src="../public/avatar/avatar_10.svg" alt="">
                  </div>

                  <div class="settings_profile_avatar_right">
                    <button class="filled-btn js_avatar_btn"><h5>Edit</h5></button>
                  </div>
                </div>

              </div>

              <div class="settings_profile_password">

                <div class="settings_profile_password_small_up">

                  <div class="settings_profile_password_left">

                    <div class="settings_profile_password_left-icon">
                      <img src="../public/icons/Password.svg" alt="">
                    </div>

                    <div class="settings_profile_password_left-text">
                      <h4>Password</h4>
                      <h5 class="light secondary">Reset your login password</h5>
                    </div>
                    
                  </div>
                </div>

                <div class="settings_profile_password_small_down">
                  <div class="settings_profile_password_middle">
                    <h4>******</h4>
                  </div>

                  <div class="settings_profile_password_right">
                    <button class="filled-btn js_password_btn"><h5>Edit</h5></button>
                  </div>
                </div>
              </div>
              
            </div>
            
            
          </div>

          <div class="settings_notification_container" id="notification">
            <h3 class="setting_heading"><b>Notification</b></h3>

            <div class="settings_notification_email">
              <div class="settings_notification_email_left">

                <div class="settings_notification_email_icon">
                  <img src="../public/icons/Email.svg" alt="">
                </div>

                <div class="settings_notification_email_text">
                  <h4>Email Notification</h4>
                  <h5 class="light secondary">Relevant update sent directly to your email</h5>
                </div>
              </div>

              <div class="settings_notification_email_right">
                <button class="inactive-btn js_enable_btn"><h5>Enabled</h5></button>

              </div>
            </div>

            <div class="settings_notification_sms">

              <div class="settings_notification_sms_left">
                <div class="settings_notification_sms_icon">
                  <img src="../public/icons/Phone iphone.svg" alt="">
                </div>
                <div class="settings_notification_sms_text">
                  <h4>SMS Notification</h4>
                  <h5 class="light secondary">Time dependent information directly to your phone</h5>
                </div>
              </div>

              <div class="settings_notification_sms_right">
                <button class="filled-btn js_enable_btn"><h5>Enable</h5></button>
              </div>

            </div>

            <div class="settings_notification_push">
              <div class="settings_notification_push_left">
                <div class="settings_notification_push_icon">
                  <img src="../public/icons/Stream apps.svg" alt="">
                </div>
                <div class="settings_notification_push_text">
                  <h4>Push Notification</h4>
                  <h5 class="light secondary">In app notification on your device</h5>
                </div>
              </div>

              <div class="settings_notification_push_right">
                <button class="inactive-btn js_enable_btn"><h5>Enabled</h5></button>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>


    <section class="footers">
    
      <div class="top_footer">
        <h2><b>Start selling with Mola</b></h2>
        <h4>Unlock secure transactions and reach more buyer with ease</h4>
        <a href="./views/register.html">
          <button class="filled-btn">
            <h5>Get Started</h5>
          </button>
        </a>
    
      </div>
    
      <div class="middle_footer">
    
        <div class="middle_footer_logo">
    
          <a href="../index.html"><img style="width: 136.88px; height: 27.31px;"
              src="../public/images/White Logo no Background (1) 5.png" alt="mola logo">
          </a>
          <h6>A peer-to-peer currency exchange platform design to offer African immigrants secure, low-cost currency
            exchanges with competitive rates and no hidden fees</h6>
    
        </div>
    
        <div class="middle-footer_content">
    
          <div class="middle-footer_content_left">
            <h6 class="foot_head">Company</h6>
    
            <h6 class="foot_body"><a href="#">About Us</a></h6>
            <h6 class="foot_body"><a href="#">Careers</a></h6>
            <h6 class="foot_body"><a href="#">Blog</a></h6>
          </div>
    
          <div class="middle-footer_content_middle">
            <h6 class="foot_head">Legal</h6>
    
            <h6 class="foot_body"><a href="#">Term of Service</a></h6>
            <h6 class="foot_body"><a href="#">Privacy Policy</a></h6>
            <h6 class="foot_body"><a href="#">Cookie Policy</a></h6>
    
          </div>
    
          <div class="middle-footer_content_right">
            <h6 class="foot_head">Contact</h6>
    
            <h6 class="foot_body"><a href="#">Support</a></h6>
            <div class="footer_right">
              <div class="socials_icon">
                <a href=""><img src="./public/icons/TwitterX.png" alt=""></a>
                <a href=""><img src="./public/icons/Instagram.png" alt=""></a>
                <a href=""><img src="./public/icons/LinkedIn.png" alt=""></a>
              </div>
            </div>
    
          </div>
    
        </div>
    
      </div>
    
      <div class="bottom_footer">
        <h6>Copyright &copy; 2024 Mola Exchange Limited</h6>
    
      </div>
    
    </section>



    <script type="module" src="../public/script/settings.js"></script>
    
  </body>
</html>