<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="user_verification_container">

    <!-- profile option container for big screen-->
    <div class="user_verification_left_container">

      <div class="user_verification">
        <img src="../public/icons/Security.svg" alt="">
        <h3>Verification</h3>
      </div>

      <div class="user_account">
        <img src="../public/icons/Add card.svg" alt="">
        <h3>Account</h3>
      </div>

    </div>

    <!-- profile option container for small screen-->
    <div class="user_verification_small_heading_screen">
      <button class="filled-btn">Verification</button>
      <button class="text-btn">Account</button>
    </div>

    <!--right container for verification screen-->
    <div class="user_verification_right_container">

      <div class="user_details">

        <div class="user_image">
          <img src="../public/images/3D Avatars.svg" alt="">
        </div>

        <div class="user_primary_details">
          <h3>Biolafrica</h3>

          <div class="joined_container">
            <img src="../public/icons/Date range.svg" alt="">
            <h4>Joined April 2024</h4>
          </div>

          <div class="verification_container">

            <div class="user_basic">
              <h4>Basic Verification</h4>
              <img src="../public/icons/Cancel.svg" alt="">
            </div>

            <div class="user_intermediate">
              <h4>Intermediate Verification</h4>
              <img src="../public/icons/Cancel.svg" alt="">
            </div>

            <div class="user_advance">
              <h4>Advance Verification</h4>
              <img src="../public/icons/Cancel.svg" alt="">
            </div>
          </div>

        </div>

      </div>

      <div class="personal_information">
        <h3>Personal Information</h3>

        <div class="personal_information_name">
          <h4>Name</h4>
          <h4>Abiodun Biobaku</h4>
        </div>
        
        <div class="personal_information_email">
          <h4>Email Address</h4>
          <h4>Biolafrica@gmail.com</h4>
        </div>

        <div class="personal_information_phone">
          <h4>Phone Number</h4>
          <h4>---------</h4>
        </div>

        <div class="personal_information_country">
          <h4>Country</h4>
          <h4>NGN/GBP</h4>
        </div>
      </div>


      <div class="basic_verification">

        <div class="basic_verification_head">
          <h3>Basic Verification</h3>
          <h5>
            This verification level allows you to purchase various currencies on the platform.
          </h5>

        </div>

        <div class="basic_verification_body">

          <div class="basic_verification_body_email">

            <div class="basic_verification_body_email_left">

              <div class="basic_verification_email_icon">
                <img src="../public/icons/Email.svg" alt="">
              </div>

              <div class="basic_verification_email_text">
                <h4>Email</h4>
                <h5>Use your email to secure your account</h5>
              </div>
            </div>

            <div class="basic_verification_body_email_middle">
              <img src="../public/icons/Check Mark.svg" alt="">
              <h4>biolafrica@gmail.com</h4>
            </div>

            <div class="basic_verification_body_email_right">
              <button class="filled-btn"><h5>Manage</h5></button>
            </div>
          </div>

          <div class="basic_verification_body_phone">

            <div class="basic_verification_body_phone_left">

              <div class="basic_verification_phone_icon">
                <img src="../public/icons/Call.svg" alt="">
              </div>

              <div class="basic_verification_phone_text">
                <h4>Phone Number</h4>
                <h5>Use your phone number to secure your account</h5>
              </div>
            </div>

            <div class="basic_verification_body_phone_middle">
              <img src="../public/icons/Error.svg" alt="">
              <h4>Not Enabled</h4>
            </div>

            <div class="basic_verification_body_phone_right">
              <button class="filled-btn"><h5>Manage</h5></button>
            </div>
          </div>

        </div>

      </div>

      <div class="intermediate_verification">

        <div class="intermediate_verification_head">
          <h3>Intermediate Verification</h3>
          <h5>
            This verification level allows you to purchase various currencies and post ads on the platform.
          </h5>

        </div>

        <div class="intermediate_verification_body_id">

          <div class="intermediate_verification_body_id_left">

            <div class="intermediate_verification_id_icon">
              <img src="../public/icons/Face.svg" alt="">
            </div>

            <div class="intermediate_verification_id_text">
              <h4>ID Verification</h4>
              <h5>Verify your identity using Government issued ID</h5>
            </div>
          </div>

          <div class="basic_verification_body_email_middle">
            <img src="../public/icons/Error.svg" alt="">
            <h4>Not Enabled</h4>
          </div>

          <div class="basic_verification_body_email_right">
            <button class="filled-btn"><h5>Manage</h5></button>
          </div>
        </div>

        <div class="intermediate_verification_body_address">

          <div class="intermediate_verification_body_address_left">

            <div class="intermediate_verification_address_icon">
              <img src="../public/icons/Other houses.svg" alt="">
            </div>

            <div class="intermediate_verification_address_text">
              <h4>Proof of Address</h4>
              <h5>verify your residence address</h5>
            </div>
          </div>

          <div class="intermediate_verification_body_address_middle">
            <img src="../public/icons/Error.svg" alt="">
            <h4>Not Enabled</h4>
          </div>

          <div class="basic_verification_body_address_right">
            <button class="filled-btn"><h5>Manage</h5></button>
          </div>
        </div>

      </div>

      <div class="advance_verification">

        <div class="advance_verification_head">
          <h3>Advance Verification</h3>
          <h5>
            This verification level will make you a verified Mola merchant.
          </h5>

        </div>

        <div class="advance_verification_body_diligence">

          <div class="advance_verification_body_diligence_left">

            <div class="advance_verification_diligence_icon">
              <img src="../public/icons/Video camera front.svg" alt="">
            </div>

            <div class="advance_verification_diligence_text">
              <h4>Due Diligence</h4>
              <h5>Thorough process of verifying your details</h5>
            </div>
          </div>

          <div class="advance_verification_body_diligence_middle">
            <img src="../public/icons/Error.svg" alt="">
            <h4>Not Enabled</h4>
          </div>

          <div class="advance_verification_body_diligence_right">
            <button class="filled-btn"><h5>Manage</h5></button>
          </div>

        </div>
      </div>

    </div>

    <!--right container for account screen-->
    <div class="bank_account_right_screen">

      <div class="bank_account_heading">
        <h3>Bank Details</h3>
        <button class="filled-btn"><h5>Add Bank</h5></button>
      </div>

      <div class="bank_account_list_container">

        <div class="bank_account_list">

          <div class="bank_account_list_head">
            <h4>Account Type  <b>GBP</b></h4>
            <img src="../public/icons/Mode edit.svg" alt="">
            <img src="../public/icons/Delete.svg" alt="">
          </div>

          <div class="bank_account_list_body">
  
            <div class="bank_name_profile">
              <h4 class="secondary">Name</h4>
              <h4>Abiodun Biobaku</h4>
            </div>
  
            <div class="banker_name_profile">
              <h4 class="secondary">Bank</h4>
              <h4>Lloyds Bank</h4>
            </div>
  
            <div class="bank_account_profile">
              <h4 class="secondary">Account Number</h4>
              <h4>0121615892</h4>
            </div>
  
            <div class="bank_sort_code_profile">
              <h4 class="secondary">Sort Code</h4>
              <h4>01-02-03</h4>
            </div>
  
  
          </div>
         
        </div>

        <div class="bank_account_list">

          <div class="bank_account_list_head">
            <h4>Account Type  <b>NGN</b></h4>
            <img src="../public/icons/Mode edit.svg" alt="">
            <img src="../public/icons/Delete.svg" alt="">
          </div>

          <div class="bank_account_list_body">
  
            <div class="bank_name_profile">
              <h4 class="secondary">Name</h4>
              <h4>Abiodun Biobaku</h4>
            </div>
  
            <div class="banker_name_profile">
              <h4 class="secondary">Bank</h4>
              <h4>GTBank</h4>
            </div>
  
            <div class="bank_account_profile">
              <h4 class="secondary">Account Number</h4>
              <h4>0121615892</h4>
            </div>
  
          </div>
         
        </div>

      </div>

    </div>

    <!--bank form popup-->
    <div class="bank_account_form_popup">

      <div class="bank_account_form_popup_head">
        <h3>GBP Bank Account</h3>
        <img src="../public/icons/Cancel.svg" alt="">
      </div>

      <div class="bank_account_form_popup_body">
        
        <form action="">
          <label for="bankName"><h4><b>Name:</b></h4></label>
          <input type="text" placeholder="enter your registered name" id="bankName">

          <label for="bankerName"><h4><b>Bank Name:</b></h4></label>
          <input type="text" placeholder="enter your bank name" id="bankerName">
          
          <label for="accountNo"><h4><b>Account Number:</b></h4></label>
          <input type="text" placeholder="enter your account number" id="accountNo">

          <label for="sortCode"><h4><b>Sort Code:</b></h4></label>
          <input type="text" placeholder="enter your account sort code" id="sortCode">

          <div class="bank_account_form_popup_body_btn">
            <button class="outline-btn">Back</button>
            <button class="filled-btn">Confirm</button>
          </div>

        </form>

      </div>
    </div>
    
  </div>
</body>
</html>