<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/style.css">
</head>
<body>

  <!--bank form popup-->
  <div class="bank_account_form_popup" style="padding: 30px;">

    <div class="bank_account_form_popup_head">
      <h4 class="popup_bank_type">GBP Bank Account</h4>
      <img class="popup_bank_cancel_icon" src="../public/icons/Cancel.svg" alt="">
    </div>

    <div class="bank_account_form_popup_body">

      <form action="">
        <label for="bankName"><h4><b>Name:</b></h4></label>
        <input type="text" placeholder="Enter your registered name" id="bankName" required>

        <label for="bankerName"><h4><b>Bank Name:</b></h4></label>
        <input type="text" placeholder="Enter your bank name" id="bankerName" required>
        
        <label for="accountNo"><h4><b>Account Number:</b></h4></label>
        <input type="text" placeholder="Enter your account number" id="accountNo" required>

        <label class="popup_sort" for="sortCode"><h4><b>Sort Code:</b></h4></label>
        <input class="popup_sort_input" type="text" placeholder="Enter your account sort code" id="sortCode" required>

        <div class="bank_account_form_popup_body_btn">
          <button class="outline-btn popup_bank_cancel"><h5>Back</h5></button>
          <button class="filled-btn"><h5>Confirm</h5></button>
        </div>

      </form>

    </div>

  </div>

  <!--email and phone number verification popup-->
  <div class="email_phone_verify_container">

    <div class="email_phone_verify_heading">
      <h4><b class="js_phone_email_topic"></b></h4>
      <img class="js_phone_popup_cancel" src="../public/icons/Close small.svg" alt="">
    </div>

    <div class="email_phone_verify_body">

      <div class="email_phone_verify1_body_content">

        <div class="email_verify1_body_content js_email_1">
          <div class="email_phone_verify_body_left">
            <img src="../public/icons/Email.svg" alt="">
            <h4>biolafrica@gmail.com</h4>
          </div>

          <div class="email_phone_verify_body_left">
            <img src="../public/icons/Mode edit.svg" alt="">
          </div>
        </div>

        <div class="phone_verify1_body_content js_phone_1">
          <div class="email_phone_verify_body_left">
            <img src="../public/icons/Call.svg" alt="">
            <h4>+447466267167</h4>
          </div>

          <div class="email_phone_verify_body_left">
            <img src="../public/icons/Mode edit.svg" alt="">
          </div>
        </div>

      </div>

      <div class="email_phone_verify2_body_content">

        <div class="phone_verify2_body_content js_phone_2">

          <form action="">

            <label for=""><h4>Phone Number:</h4></label>
            <div class="enter_phone_container">

              <select name="phone number select" id="">
                <option value="nigeria">+234</option>
                <option value="uk">+447</option>
              </select>
              <input type="text" placeholder="Enter phone number">

            </div>
            <div class="error_content"></div>
          

            <label for=""><h4>SMS Verification Code:</h4></label>
            <div class="send_code_container">
              <div class="send_code"><h4>Send code</h4></div>
              <input type="text" placeholder="Enter SMS Verification code" >
            </div>
            <div class="error_content"></div>

            <button class="filled-btn"><h5>Activate</h5></button>
          
          </form>

        </div>

        <div class="email_verify2_body_content js_email_2">
          <form class="verify_form" action="">

            <label for=""><h4>Email Address:</h4></label>
            <input type="text" placeholder="Enter your email address">
            <div class="error_content"></div>

            <label for=""><h4>Email Verification Code:</h4></label>
            <div class="send_code_container">
              <div class="send_code"><h4>Send code</h4></div>
              <input type="text" placeholder="Enter Email Verification code">
            </div>
            <div class="error_content"></div>

            <button class="filled-btn"><h5>Activate</h5></button>

          </form>
        </div>

      </div>

    </div>
    
  </div>

  <!--due diligence popup-->
  <div class="due_diligence_popup">
    <div class="due_diligence_verify_heading">
      <h4>Due Diligence</h4>
      <img class="js_popup_cancel" src="../public/icons/Close small.svg" alt="">
    </div>

    <div class="due_diligence_verify_body">

      <div class="unbooked-call">
        <h4>Book a call with our agent</h4>
        <button class="filled-btn"><h5>Book Call</h5></button>
      </div>

      <div class="booked_call">
        <h4>Booked a call with our agent</h4>
        <button class="inactive-btn"><h5>Awaiting call</h5></button>
      </div>
      
      <div class="verified_call">
        <h4>You are now a verified Merchant</h4>
        <img src="../public/icons/Check Mark.svg" alt="">
      </div>

    </div>
  </div>

  <!--successful appointment popup-->
  <div class="booked_success_container">
    <img src="../public/icons/Check Mark.svg" alt="">
    <h4 class="secondary">
      Due diligence appointment request made successfully.One of our agent will get back to you via your registered email.
    </h4>
    <button class="filled-btn"><h5>Back</h5></button>
  </div>

  <div class="overlay js_overlay"></div>

  <header>

    <div class="header_left">
      <a href="../index.html"><img src="../public/icons/Currency exchange.svg" alt=""></a>
      <a href="../index.html"><h3><b>Mola</b></h3></a>
      
    </div>

    <div class="header_right">

      <a class="order_container" href="/views/history.html">
        <img src="../public/icons/Receipt long.svg" alt="">
        <h5>My Orders</h5>
      </a>

      <div class="profile_container">
        <img src="../public/icons/Account circle.svg" alt="">
        <h5 class="profile_none">My profile</h5>

        <div class="profile_tooltip">

          <div class="profile_tooltip_header"> 
            <h5 style="padding-left: 20px;">Biolafrica</h5>
            <div class="profile_verification_details">
              <img src="../public/icons/Verified user.svg" alt="">
              <h5 class="light">Intermediate Level Verified</h5>
            </div>
          </div>
          
          <div class="profile_tooltip_body">

            <a class="profile_tooltip_body_nav" href="/views/dashboard.html">
              <img src="../public/icons/Dashboard.svg" alt="">
              <h4>Dashboard</h4>
            </a>
    
            <a class="profile_tooltip_body_nav" href="/views/verify.html">
              <img src="../public/icons/Manage accounts.svg" alt="">
              <h4>Account</h4>
            </a>
            
            <a class="profile_tooltip_body_nav" href="/views/settings.html">
              <img src="../public/icons/Settings.svg" alt="">
              <h4>Settings</h4>
            </a>
    
          </div>
    
          <div class="profile_tooltip_footer" >
            <a class="profile_tooltip_footer_nav" href="/views/login.html">
              <img class="secondary" src="../public/icons/Logout.svg" alt="">
              <h4>Logout</h4>
            </a>
    
          </div>
        </div>
      </div>

      <div class="more_container">
        <img src="../public/icons/Pending.svg" alt="">
        <h5 class="more_none">More</h5>
        <img src="../public/icons/Arrow drop down.svg" alt="">

        <div class="more_tooltip">

          <a class="more_tooltip_nav" href="/views/postadd.html">
            <img src="../public/icons/Playlist add.svg" alt="">
            <h4>Post New Ads</h4>
          </a>

          <a class="more_tooltip_nav" href="/views/history.html">
            <img src="../public/icons/Format list bulleted.svg" alt="">
            <h4>My Ads</h4>
          </a>
    
        </div>
      </div>

    </div>
  </header>

  <div class="user_verification_container">

    <!-- profile option container for small screen-->
    <div class="user_verification_small_heading_screen">
      <button class="filled-btn"><h5>Verification</h5></button>
      <button class="text-btn"><h5>Bank</h5></button>
    </div>

    <div class="user_verification_sub_container">

      <!-- profile option container for big screen-->
      <div class="user_verification_left_container">

        <div class="user_verification">
          <img src="../public/icons/Security.svg" alt="">
          <h4 id="user_verification">Verification</h4>
        </div>

        <div class="user_account">
          <img src="../public/icons/Add card.svg" alt="">
          <h4 id="user_account">Bank</h4>
        </div>

      </div>

      <!--right container for verification screen-->
      <div class="user_verification_right_container">

        <div class="user_details">

          <div class="user_image">
            <img style="width: 80px; height: 80px;" src="../public/images/3D Avatars.svg" alt="">
          </div>

          <div class="user_primary_details">
            <h3>Biolafrica</h3>

            <div class="joined_container">
              <img src="../public/icons/Date range.svg" alt="">
              <h4>Joined April 2024</h4>
            </div>

            <div class="verification_container">

              <div class="user_basic">
                <h4>Basic Verification</h4>
                <img src="../public/icons/Cancel.svg" alt="">
              </div>

              <div class="user_intermediate">
                <h4>Intermediate Verification</h4>
                <img src="../public/icons/Cancel.svg" alt="">
              </div>

              <div class="user_advance">
                <h4>Advance Verification</h4>
                <img src="../public/icons/Cancel.svg" alt="">
              </div>
            </div>

          </div>

        </div>

        <div class="personal_information">
          <h3>Personal Information</h3>

          <div class="personal_information_name">
            <h4 class="secondary">Name</h4>
            <h4>Abiodun Biobaku</h4>
          </div>
          
          <div class="personal_information_email">
            <h4 class="secondary">Email Address</h4>
            <h4>Biolafrica@gmail.com</h4>
          </div>

          <div class="personal_information_phone">
            <h4 class="secondary">Phone Number</h4>
            <h4>---------</h4>
          </div>

          <div class="personal_information_country">
            <h4 class="secondary">Country</h4>
            <h4>NGN/GBP</h4>
          </div>
        </div>

        <div class="basic_verification">

          <div class="basic_verification_head">
            <h3>Basic Verification</h3>
            <h5 class="light secondary">
              This verification level allows you to purchase various currencies on the platform.
            </h5>

          </div>

          <div class="basic_verification_body">

            <div class="basic_verification_body_email">

              <div class="basic_verification_body_small_up">
                <div class="basic_verification_body_email_left">

                  <div class="basic_verification_email_icon">
                    <img src="../public/icons/Email.svg" alt="">
                  </div>
  
                  <div class="basic_verification_email_text">
                    <h4>Email</h4>
                    <h5 class="light secondary">Use your email to secure your account</h5>
                  </div>
                </div>
              </div>

              <div class="basic_verification_body_small_down">

                <div class="basic_verification_body_email_middle">
                  <img src="../public/icons/Check Mark.svg" alt="">
                  <h5 class="light">biolafrica@gmail.com</h5>
                </div>
  
                <div class="basic_verification_body_email_right">
                  <button class="filled-btn js_email_manage"><h5>Manage</h5></button>
                </div>

              </div>
              
            </div>

            <div class="basic_verification_body_phone">

              <div class="basic_verification_body_small_up">
                <div class="basic_verification_body_phone_left">

                  <div class="basic_verification_phone_icon">
                    <img src="../public/icons/Call.svg" alt="">
                  </div>
  
                  <div class="basic_verification_phone_text">
                    <h4>Phone Number</h4>
                    <h5 class="light secondary">Use your phone number to secure your account</h5>
                  </div>
                </div>
              </div>

              <div class="basic_verification_body_small_down">
                <div class="basic_verification_body_phone_middle">
                  <img src="../public/icons/Error.svg" alt="">
                  <h5 class="light">Not Enabled</h5>
                </div>
  
                <div class="basic_verification_body_phone_right">
                  <button class="filled-btn js_phone_manage"><h5>Manage</h5></button>
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="intermediate_verification">

          <div class="intermediate_verification_head">
            <h3>Intermediate Verification</h3>
            <h5 class="light secondary">
              This verification level allows you to purchase various currencies and post ads on the platform.
            </h5>

          </div>

          <div class="intermediate_verification_body_id">
            <div class="intermediate_verification_body_up">
              <div class="intermediate_verification_body_id_left">

                <div class="intermediate_verification_id_icon">
                  <img src="../public/icons/Face.svg" alt="">
                </div>
  
                <div class="intermediate_verification_id_text">
                  <h4>ID Verification</h4>
                  <h5 class="light secondary">Verify your identity using Government issued ID</h5>
                </div>
              </div>
            </div>

            <div class="intermediate_verification_body_down">
              <div class="intermediate_verification_body_email_middle">
                <img src="../public/icons/Error.svg" alt="">
                <h5 class="light">Not Enabled</h5>
              </div>
  
              <div class="intermediate_verification_body_email_right">
                <button class="filled-btn js_id_manage"><h5>Manage</h5></button>
              </div>

            </div>
          </div>

          <div class="intermediate_verification_body_address">
            <div class="intermediate_verification_body_up">
              <div class="intermediate_verification_body_address_left">

                <div class="intermediate_verification_address_icon">
                  <img src="../public/icons/Other houses.svg" alt="">
                </div>
  
                <div class="intermediate_verification_address_text">
                  <h4>Proof of Address</h4>
                  <h5 class="light secondary">verify your residence address</h5>
                </div>
              </div>

            </div>

            <div class="intermediate_verification_body_down">
              <div class="intermediate_verification_body_address_middle">
                <img src="../public/icons/Error.svg" alt="">
                <h5 class="light">Not Enabled</h5>
              </div>
  
              <div class="intermediate_verification_body_address_right">
                <button class="filled-btn js_address_manage"><h5>Manage</h5></button>
              </div>

            </div>

          </div>

        </div>

        <div class="advance_verification">

          <div class="advance_verification_head">
            <h3>Advance Verification</h3>
            <h5 class="light secondary">
              This verification level will make you a verified Mola merchant.
            </h5>

          </div>

          <div class="advance_verification_body_diligence">
            <div class="advance_verification_body_up">
              <div class="advance_verification_body_diligence_left">

                <div class="advance_verification_diligence_icon">
                  <img src="../public/icons/Video camera front.svg" alt="">
                </div>
  
                <div class="advance_verification_diligence_text">
                  <h4>Due Diligence</h4>
                  <h5 class="light secondary">Thorough process of verifying your details</h5>
                </div>
              </div>

            </div>

            <div class="advance_verification_body_down">
              <div class="advance_verification_body_diligence_middle">
                <img src="../public/icons/Error.svg" alt="">
                <h5 class="light">Not Enabled</h5>
              </div>
  
              <div class="advance_verification_body_diligence_right">
                <button class="filled-btn js_diligence_manage"><h5>Manage</h5></button>
              </div>
              
            </div>

          </div>
        </div>

      </div>

      <!--right container for account screen-->
      <div class="bank_account_right_screen">

        <div class="bank_account_heading">
          <h4>Bank Details</h4>
          <select class="filled-btn" name="" id="bankBtn">
            <option value="Add_Bank">Add Bank</option>
            <option value="NGN_Account">NGN Account</option>
            <option value="GBP_Account">GBP Account</option>
          </select>

          <!--popup screen when you clicked on add bank-->
          <div class="add_bank_popup">
            <h5>NGN Account</h5>
            <h5>GBP Account</h5>
          </div>

        </div>

        <div class="bank_account_list_container">

          <div class="bank_account_list">

            <div class="bank_account_list_head">

              <div class="bank_account_list_head_left">
                <h4>Account Type  <b>GBP</b></h4>
              </div>

              <div class="bank_account_list_head_right">
                <img src="../public/icons/Mode edit.svg" alt="">
                <img src="../public/icons/Delete.svg" alt="">
              </div>
              
            </div>

            <div class="bank_account_list_body">

              <div class="bank_account_list_body_top">

                <div class="bank_name_profile">
                  <h4 class="secondary">Name</h4>
                  <h4>Abiodun Biobaku</h4>
                </div>
      
                <div class="banker_name_profile">
                  <h4 class="secondary">Bank</h4>
                  <h4>Lloyds Bank</h4>
                </div>
      
                <div class="bank_account_profile">
                  <h4 class="secondary">Account Number</h4>
                  <h4>0121615892</h4>
                </div>

              </div>
    
              <div class="bank_sort_code_profile">
                <h4 class="secondary">Sort Code</h4>
                <h4>01-02-03</h4>
              </div>
            </div>
          
          </div>

          <div class="bank_account_list">

            <div class="bank_account_list_head">
              <div class="bank_account_list_head_left">
                <h4>Account Type  <b>NGN</b></h4>
              </div>

              <div class="bank_account_list_head_right">
                <img src="../public/icons/Mode edit.svg" alt="">
                <img src="../public/icons/Delete.svg" alt="">
              </div>
            </div>

            <div class="bank_account_list_body">
              <div class="bank_account_list_body_top">

                <div class="bank_name_profile">
                  <h4 class="secondary">Name</h4>
                  <h4>Abiodun Biobaku</h4>
                </div>
      
                <div class="banker_name_profile">
                  <h4 class="secondary">Bank</h4>
                  <h4>GTBank</h4>
                </div>
      
                <div class="bank_account_profile">
                  <h4 class="secondary">Account Number</h4>
                  <h4>0121615892</h4>
                </div>

              </div>
            </div>
          
          </div>

        </div>

      </div>

    </div>

  </div>

  <section class="footers">
    <div class="footer">

      <div class="footer_left">
        <h2><b>Mola</b></h2>
      </div>
  
      <div class="footer_middle">
        <a href=""><h4><b>Privacy and Terms</b></h4></a>
        <a href=""><h4><b>About Mola</b></h4></a>
        <a href=""><h4><b>Support</b></h4></a>
      </div>
  
      <div class="footer_right">
        <h4>Follow us</h4>
        <div class="socials_icon">
          <a href=""><img src="../public/icons/Facebook.svg" alt=""></a>
          <a href=""><img src="../public/icons/TwitterX.svg" alt=""></a>
          <a href=""><img src="../public/icons/Instagram.svg" alt=""></a>
          <a href=""><img src="../public/icons/LinkedIn.svg" alt=""></a>
        </div>
  
      </div>

    </div>

    <h5 class="secondary light" style="text-align: center;">Copyright &copy; 2024 Mola Exchange Limited</h5>

    

  </section>

  <script>
    const verifyEl = document.querySelector(".user_verification_left_container");
    const verifyCont = document.querySelector(".user_verification_right_container");
    const bankCont= document.querySelector(".bank_account_right_screen");
    const emailBtn = document.querySelector(".js_email_manage");
    const phoneBtn = document.querySelector(".js_phone_manage");
    const idBtn = document.querySelector(".js_id_manage");
    const addressBtn = document.querySelector(".js_address_manage");
    const diligenceBtn = document.querySelector(".js_diligence_manage");
    const overlay = document.querySelector(".js_overlay");
    const emailPhonePopup = document.querySelector(".email_phone_verify_container");
    const diligencePopup = document.querySelector(".due_diligence_popup");
    const phoneElOne = document.querySelector('.js_phone_1');
    const phoneElTwo = document.querySelector(".js_phone_2");
    const headingEl = document.querySelector(".js_phone_email_topic");
    const emailElOne = document.querySelector('.js_email_1');
    const emailElTwo = document.querySelector(".js_email_2");
    const cancelIcon = document.querySelector(".js_popup_cancel");
    const phoneCancelIcon = document.querySelector(".js_phone_popup_cancel");
    const bankBtn = document.getElementById("bankBtn");
    const bankHeading = document.querySelector(".popup_bank_type");
    const bankPopupEl = document.querySelector(".bank_account_form_popup");
    const popupSort = document.querySelector(".popup_sort");
    const popupInput = document.querySelector(".popup_sort_input");
    const popupBankCancel = document.querySelector(".popup_bank_cancel");
    const popupIconCancel = document.querySelector(".popup_bank_cancel_icon");


    verifyEl.addEventListener("click", (e)=>{
      if(e.target === user_verification){
        bankCont.style.display = "none";
        verifyCont.style.display ="initial";

      } else if (e.target === user_account) {
        bankCont.style.display = "initial";
        verifyCont.style.display ="none"; 
      }
    });
    
    emailBtn.addEventListener("click", ()=>{
      overlay.style.display = "initial";
      emailPhonePopup.style.display = "initial";
      headingEl.innerHTML= "Email Verification"
      phoneElOne.style.display = "none";
      phoneElTwo.style.display = "none";
    });

    phoneBtn.addEventListener("click", ()=>{
      overlay.style.display = "initial";
      emailPhonePopup.style.display = "initial";
      headingEl.innerHTML= "Phone Number Verification";
      emailElOne.style.display = "none";
      emailElTwo.style.display = "none";

    })

    diligenceBtn.addEventListener("click", ()=>{
      overlay.style.display = "initial";
      diligencePopup.style.display = "initial";

    })

    cancelIcon.addEventListener("click", ()=>{
      overlay.style.display = "none";
      diligencePopup.style.display = "none";

    });

    phoneCancelIcon.addEventListener("click", ()=>{
      overlay.style.display = "none";
      emailPhonePopup.style.display = "none";
      headingEl.innerHTML= "";
      emailElOne.style.display = "flex";
      emailElTwo.style.display = "initial";
      phoneElOne.style.display = "flex";
      phoneElTwo.style.display = "initial";
    })

    bankBtn.addEventListener('change', (e)=>{
      const selectedValue = e.target.value;
      console.log(selectedValue);

      if(selectedValue === "NGN_Account"){
        overlay.style.display = "initial";
        bankPopupEl.style.display = "initial";
        bankHeading.innerHTML = "NGN Bank Account";
        popupSort.style.display = "none";
        popupInput.style.display = "none";
        

      } else if (selectedValue === "GBP_Account"){
        overlay.style.display = "initial";
        bankPopupEl.style.display = "initial";
        bankHeading.innerHTML = "GBP Bank Account";
        

      }

    });

    popupBankCancel.addEventListener("click", ()=>{
      overlay.style.display = "none";
      bankPopupEl.style.display = "none";
      bankBtn.value = "Add_Bank";

    })

    popupIconCancel.addEventListener("click", ()=>{
      overlay.style.display = "none";
      bankPopupEl.style.display = "none";
      bankBtn.value = "Add_Bank";

    })

 
    

  </script>

</body>
</html>