@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
/* Text Default specifications*/
h1{
  font-weight: 400;
  font-size: clamp(48px, 5vw + 1rem, 76px);
  line-height: clamp(58.7px, 6vw + 1rem, 85.3px);
  letter-spacing: clamp(0%, 0.1vw, 0.3%);
}

h2{
  font-weight: 400;
  font-size: clamp(32px, 4vw, 43px);
  line-height: clamp(43px, 5vw  53px);
  letter-spacing:0%;
}

h3{
  font-weight: 400;
  font-size: clamp(17px, 2.5vw, 29px);
  line-height: clamp(27px, 4vw, 37px);
  letter-spacing: clamp(0.13%, 0.15vw, 0%);
}

h4{
  font-weight: 400;
  font-size: clamp(16px, 2.5vw, 21px);
  line-height: clamp(21px, 3vw, 32px);
  letter-spacing: clamp(0.5%, 0.1vw, 0.6%);
}

h5{
  font-weight: 500;
  font-size: clamp(14.7px, 2vw, 19px);
  line-height: clamp(21.3px, 3vw, 27px);
  letter-spacing: clamp(0.6%, 0.3vw, 0.7%);
}

/* color style specifications*/
:root{
  --Text-dark:#FFFFFFD9;
  --Text-light:#000000E0;
  --Secondary-Text-light:#000000A6;
  --Secondary-Text-dark : #ffffffA6;
  --Disabled-Text-light : #00000040;
  --Disabled-Text-dark : #ffffff40;
  --Border-light :#d9d9d9ff;
  --Border-dark : #424242ff;
  --Seperator-light : #0505050f;
  --Seperator-dark : #fdfdfd1f;
  --Layout-Background-light: #f5f5f5ff;
  --Layout-Background-dark:#000000FF;
  --elevate-1: 
  0 1px 3px 1px rgba(0,0,0,0.15),
  0 1px 2px 0 rgba(0,0,0,0.30); 
  --elevate-2:
  0 1px 2px 0 rgba(0,0,0,0.30),
  0 2px 6px 2px rgba(0,0,0,0.15);
  --elevate-3: 
  0 4px 8px 3px rgba(0,0,0,0.15),
  0 1px 3px 0 rgba(0,0,0,0.30);
  --elevate-4:
  0 6px 10px 4px rgba(0,0,0,0.15),
  0 2px 3px 0 rgba(0,0,0,0.30);
  --elevate-5: 
  0 8px 12px 6px rgba(0,0,0,0.15),
  0 4px 4px 0 rgba(0,0,0,0.30);  

}

.filled-btn{
  border-radius: 5px;
  background-color: var(--Layout-Background-dark);
  color: var(--Text-dark);
  padding: 10px 24px;
  gap: 8px;
}

.outlined-btn{
  border-radius: 5px;
  background-color: #ffffff;
  color: var(--Text-light);
  padding: 10px 24px;
  border: 1px solid var(--Border-dark);
  gap: 8px;
}

.text-btn{
  border-radius: 5px;
  background-color: transparent;
  color: var(--Text-light);
  padding: 10px 24px;
  gap: 8px;
}

.inactive-btn{
  border-radius: 5px;
  background-color: var(--Layout-Background-light);
  color: var(--Disabled-Text-light);
  padding: 10px 24px;
  gap: 8px;
}

.filled-btn img,
.inactive-btn img,
.outlined-btn img,
.text-btn img{
  width: 22px;
  height: 22px;
}

@media(max-width:600px){
  h1{
    font-size: 48px;
    line-height: 58.7px;
    letter-spacing: 0%;
  }
  h2{
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0%;
  }
  h3{
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.13%;
  }
  h4{
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.5%;
  }
  h5{
    font-size: 14.7px;
    line-height: 21.3px;
    letter-spacing: 0.6%;
  }

  .filled-btn img,
  .inactive-btn img,
  .outlined-btn img,
  .text-btn img{
    width: 18px;
    height: 18px;
  }

}

@media(min-width:601px)and(max-width:992px){
  h1{
    font-size: 60px;
    line-height: 69.3px;
    letter-spacing: 0%;
  }
  h2{
    font-size: 37px;
    line-height: 48px;
    letter-spacing: 0%;
  }
  h3{
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.19%;
  }
  h4{
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.3%;
  }
  h5{
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.7%;
  }

  .filled-btn img,
  .inactive-btn img,
  .outlined-btn img,
  .text-btn img{
    width: 20px;
    height: 20px;
  }
  
}

@media(min-width:993px){
  h1{
    font-size: 76px;
    line-height: 85.3px;
    letter-spacing: 0.3%;
  }
  h2{
    font-size: 43px;
    line-height: 53px;
    letter-spacing: 0%;
  }
  h3{
    font-size: 29px;
    line-height: 37px;
    letter-spacing: 0%;
  }
  h4{
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.6%;
  }
  h5{
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .filled-btn img,
  .inactive-btn img,
  .outlined-btn img,
  .text-btn img{
    width: 22px;
    height: 22px;
  }
  
}



