@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--Text-light);
  font-size: 1rem;
}
h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

/* Text Default specifications*/
h1{
  font-weight: 400;
  font-size: clamp(48px, 5vw + 1rem, 76px);
  line-height: clamp(58.7px, 6vw + 1rem, 85.3px);
  letter-spacing: clamp(0%, 0.1vw, 0.3%);
}

h2{
  font-weight: 400;
  font-size: clamp(32px, 4vw, 43px);
  line-height: clamp(43px, 5vw  53px);
  letter-spacing:0%;
}

h3{
  font-weight: 400;
  font-size: clamp(17px, 2.5vw, 29px);
  line-height: clamp(27px, 4vw, 37px);
  letter-spacing: clamp(0.13%, 0.15vw, 0%);
}

h4{
  font-weight: 400;
  font-size: clamp(16px, 2.5vw, 21px);
  line-height: clamp(21px, 3vw, 32px);
  letter-spacing: clamp(0.5%, 0.1vw, 0.6%);
}

h5{
  font-weight: 500;
  font-size: clamp(14.7px, 2vw, 19px);
  line-height: clamp(21.3px, 3vw, 27px);
  letter-spacing: clamp(0.6%, 0.3vw, 0.7%);
}

/* color style specifications*/
:root{
  --Text-dark:#FFFFFFD9;
  --Text-light:#000000E0;
  --Secondary-Text-light:#000000A6;
  --Secondary-Text-dark : #ffffffA6;
  --Disabled-Text-light : #00000040;
  --Disabled-Text-dark : #ffffff40;
  --Border-light :#d9d9d9ff;
  --Border-dark : #424242ff;
  --Seperator-light : #0505050f;
  --Seperator-dark : #fdfdfd1f;
  --Layout-Background-light: #f5f5f5ff;
  --Layout-Background-dark:#000000FF;
  --elevate-1: 
  0 1px 3px 1px rgba(0,0,0,0.15),
  0 1px 2px 0 rgba(0,0,0,0.30); 
  --elevate-2:
  0 1px 2px 0 rgba(0,0,0,0.30),
  0 2px 6px 2px rgba(0,0,0,0.15);
  --elevate-3: 
  0 4px 8px 3px rgba(0,0,0,0.15),
  0 1px 3px 0 rgba(0,0,0,0.30);
  --elevate-4:
  0 6px 10px 4px rgba(0,0,0,0.15),
  0 2px 3px 0 rgba(0,0,0,0.30);
  --elevate-5: 
  0 8px 12px 6px rgba(0,0,0,0.15),
  0 4px 4px 0 rgba(0,0,0,0.30);  

}

.filled-btn{
  border-radius: 5px;
  background-color: #000000;
  color: var(--Text-dark);
  padding: 10px 24px;
  gap: 8px;
  cursor: pointer;
  border: none;
}

.outlined-btn{
  border-radius: 5px;
  background-color: #ffffff;
  color: var(--Text-light);
  padding: 10px 24px;
  border: 1px solid var(--Border-dark);
  gap: 8px;
  cursor: pointer;
}

.text-btn{
  background-color: transparent;
  color: var(--Text-light);
  padding: 10px 24px;
  gap: 8px;
  cursor: pointer;
  border: none;
}

.inactive-btn{
  border-radius: 5px;
  background-color: var(--Layout-Background-light);
  color: var(--Disabled-Text-light);
  padding: 10px 24px;
  gap: 8px;
  cursor: none;
  border: none;
}

.filled-btn img,
.inactive-btn img,
.outlined-btn img,
.text-btn img{
  width: 22px;
  height: 22px;
}

.filled-btn:hover,
.inactive-btn:hover,
.outlined-btn:hover,
.text-btn:hover{
  filter: brightness(0.9);
}

.filled-btn:active,
.inactive-btn:active,
.outlined-btn:active,
.text-btn:active{
  transform: translateY(2px);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="search"],
select,
textarea{
  font-family: "Roboto", sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px ;
  border-radius: 5px;
  border: 1px solid var(--Border-light);
  font-size: 1rem;
}
input:focus,
select:focus,
textarea:focus{
  outline: 2px solid black;
}


.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  border-bottom: 1px solid var(--Border-light);
}
.header_left{
  display: flex;
  align-items: center;
  gap: 8px;
}

.header_right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.order_container,
.profile_container,
.more_container{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.profile_container{
  position: relative;
}

.more_container{
  position: relative;

}

.profile_container:hover .profile_tooltip,
.profile_tooltip:hover .profile_tooltip {
  display: block;

}

.more_container:hover .more_tooltip,
.more_tooltip:hover .more_tooltip {
  display: block;

}

.profile_tooltip{
  position: absolute;
  top: 25px;
  left: -280px;
  right: -103px;
  background-color: white;
  
}
.more_tooltip{
  position: absolute;
  top: 25px;
  left: -200px;
  background-color: white;
  


}

/* login */

.login_container,
.register_container{
  display: flex;

}
.login_left,
.register_left{
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: var(--Layout-Background-light);

}
.login_left img,
.register_left img{
  width: 200px;
  height: 200px;
  
}
.login_right,
.register_right{
  width: 60%;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_right form,
.register_right form{
  width: 60%;
}
.form_text{
  margin-bottom: 30px;
}
.sub_text{
  margin-bottom: 15px;
}

form button{
  width: 100%;
  margin: 10px 0px;
}
.checkbox-container{
  display: flex;
  align-items: center;
  gap: 5px;
}

/* landing page */
.landing_page{
  text-align: center;
  max-width: 716px;
  margin: 90px auto;
}

.landing_new_user_container{
  margin-top: 25px;
}

/* header tooltips */
.profile_verification_details,
.profile_tooltip_body_nav,
.profile_tooltip_footer_nav,
.more_tooltip_nav{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0px;
}

.profile_tooltip{
  border: 1px solid var(--Border-light);
  box-shadow: var(--elevate-3);
  max-width: 283px;
  padding: 20px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}
.profile_tooltip_header{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 0px;
  border-bottom: 1px solid var(--Border-light);
}
.profile_tooltip_body{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.profile_tooltip_footer{
  padding: 5px 0;
  border-top: 1px solid var(--Border-light);
}

.more_tooltip{
  border: 1px solid var(--Border-light);
  box-shadow: var(--elevate-3);
  max-width: 344px;
  padding: 30px 30px;
  border-radius: 5px;
  display: none;

}











@media(max-width:768px){
  .landing_page{
    padding: 32px;
  }

  h1{
    font-size: 48px;
    line-height: 58.7px;
    letter-spacing: 0%;
  }
  h2{
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0%;
  }
  h3{
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.13%;
  }
  h4{
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.5%;
  }
  h5{
    font-size: 14.7px;
    line-height: 21.3px;
    letter-spacing: 0.6%;
  }

  .filled-btn img,
  .inactive-btn img,
  .outlined-btn img,
  .text-btn img{
    width: 18px;
    height: 18px;
  }
  .icon{
    width: 48px;
    height: 48px;
  }
  .login_left,
  .register_left{
    display: none;
  }
  .login_right,
  .register_right{
    width: 100%;
  }
  .login_right form,
  .register_right form{  
    margin: 50px 0;
    width: 80%;
  }

  .order_container h5,
  .profile_container h5,
  .more_container h5{
    display: none;
  }

  .header_left img{
    width: 24px;
    height: 24px;
  }

  .profile_tooltip{
    left: -183px;
    
  }

  

}

@media(min-width:769px) and (max-width:992px){
  h1{
    font-size: 60px;
    line-height: 69.3px;
    letter-spacing: 0%;
  }
  h2{
    font-size: 37px;
    line-height: 48px;
    letter-spacing: 0%;
  }
  h3{
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.19%;
  }
  h4{
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.3%;
  }
  h5{
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.7%;
  }

  .filled-btn img,
  .inactive-btn img,
  .outlined-btn img,
  .text-btn img{
    width: 20px;
    height: 20px;
  }
  .icon{
    width: 24px;
    height: 24px;
  }

  .login_left,
  .register_left{
    display: none;
  }

  .login_right,
  .register_right{
    width: 100%;
  }
  .login_right form,
  .register_right form{
    margin: 50px 0;
    width: 50%;
  }
}

@media(min-width:993px){
  h1{
    font-size: 76px;
    line-height: 85.3px;
    letter-spacing: 0.3%;
  }
  h2{
    font-size: 43px;
    line-height: 53px;
    letter-spacing: 0%;
  }
  h3{
    font-size: 29px;
    line-height: 37px;
    letter-spacing: 0%;
  }
  h4{
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.6%;
  }
  h5{
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .filled-btn img,
  .inactive-btn img,
  .outlined-btn img,
  .text-btn img{
    width: 22px;
    height: 22px;
  }

  .icon{
    width: 24px;
    height: 24px;
  }
  
}



